[2017-10-16 19:55] francescobianco opened #9 "Proposal: ORM to test"
I'm so sorry to disturb you, I would kindly ask you if you could test this library in your project!
https://github.com/javanile/moldable
With the purpose of knowing my project and understanding if it can be integrated into yours!
To thank you for your availability I am observing your project and giving a star

Install via composer
[code]

I ask you if we can help each other

[2017-10-17 07:15] Spomky commented on #9
Hi @francescobianco,

I am not sure your project can be integrated here and I don't want to add any other dependencies.
This framework is just an implementation of the JWT format ; it has nothing do do with MySQL.

[2017-10-22 11:56] #9 closed

[2017-11-20 14:19] Spomky opened #23 "Documentation"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Version              | 1.0.0

* [x] Components
* [x] Bundle
* [x] Console Application
* [x] Security Recommendations
* [x] Advanced Topics
    * [x] Custom algorithm
    * [x] Nested tokens
* [x] Benchmarks
* [x] Migration
    *

[2017-11-21 13:22] Spomky opened #26 "Remove \Iterator interface in favor of \IteratorAggregate"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | yes
| RFC? / Specification | no
| Version              | all

The interface IteratorAggregate induces less complexity for the same result.

[2017-11-22 09:17] Spomky commented on #26
Done

[2017-11-22 09:17] #26 closed

[2017-11-23 06:47] Spomky opened #32 "[Insight] Code should not be duplicated - in src/Component/…/Util/RSACrypt.php, line 230"
**[in src/Component/Encryption/Util/RSACrypt.php, line 230](https://github.com/web-token/jwt-framework/blob/a04b71df6986c311f5ec42507cd18fd7aaf219ea/src/Component/Encryption/Util/RSACrypt.php#L230)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/b7efa68f-8962-41cf-a2e3-4444426bc95a/analyses/141)_

[2017-11-23 06:47] Spomky opened #33 "[Insight] Code should not be duplicated - in src/Bundle/…/Source/JWSBuilder.php, line 49"
**[in src/Bundle/Signature/DependencyInjection/Source/JWSBuilder.php, line 49](https://github.com/web-token/jwt-framework/blob/a04b71df6986c311f5ec42507cd18fd7aaf219ea/src/Bundle/Signature/DependencyInjection/Source/JWSBuilder.php#L49)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/b7efa68f-8962-41cf-a2e3-4444426bc95a/analyses/141)_

[2017-11-23 06:48] Spomky opened #34 "[Insight] Code should not be duplicated - in src/Bundle/…/Source/JWEBuilder.php, line 53"
**[in src/Bundle/Encryption/DependencyInjection/Source/JWEBuilder.php, line 53](https://github.com/web-token/jwt-framework/blob/a04b71df6986c311f5ec42507cd18fd7aaf219ea/src/Bundle/Encryption/DependencyInjection/Source/JWEBuilder.php#L53)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/b7efa68f-8962-41cf-a2e3-4444426bc95a/analyses/141)_

[2017-11-24 08:29] Spomky opened #36 "Middleware component"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | no
| Version              | 1.x

Most of time, JWT are used in a web context and send through the Authorization header (other means may also be considered).
A new Middleware component, compliant with the applicable PSR, could be add

[2017-11-24 10:52] Spomky opened #37 "Change headers into header"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | yes
| RFC? / Specification | no
| Version              | 1.x

[2017-11-25 22:01] #32 closed

[2017-11-25 22:16] #33 closed

[2017-11-26 08:57] #34 closed

[2017-11-26 08:58] #37 closed

[2017-12-20 09:15] Spomky commented on #36
Closing as out of scope of this framework.

[2017-12-20 09:15] #36 closed

[2017-12-22 08:58] Spomky commented on #23
Closing as the documentation is now available at https://web-token.spomky-labs.com

[2017-12-22 08:58] #23 closed

[2018-01-08 16:16] bwowk opened #65 "Add Nested Tokens support"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| **Feature request?**     | **yes**
| BC Break report?     | no
| RFC? / Specification | no
| Version              | 1.0

Please add support for Nested Tokens

[2018-01-08 19:24] Spomky commented on #65
Nested tokens are already supported, but there is no convenient way to build/load them.
However those tokens can be easily created:

* Nested token creation:
    1. create a JWS as usual.
    2. create a JWE with the following header member: `cty`: `JWT`.
* Nested token loading
    1. try to decrypt the JWE
    2. if the JWE header contains the member `cty` with the value`JWT`, try to load the JWS

[2018-01-12 13:10] Spomky opened #66 "Allow services to have custom tags"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | no
| Version              | 1.x

The bundle creates numerous new services for keys, key sets, JWS Builders and so on.
Services can be retrieved using their ID (e.g. `jose.key.xxxxxx`).
Applications may need to tag those services to

[2018-01-18 19:41] Spomky opened #67 "Claim Checker Manager should return only checked claims"
| Q                    | A
| -------------------- | -----
| Bug report?          | yes
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Version              | 1.x

At the moment, the Claim Checker Manager returns all claims after checking (see [ClaimCheckerManager.php#L82](https://github.com/web-token/jwt-framework/blob/master/src/Component/Checker/ClaimChecker

[2018-01-18 20:42] #67 closed

[2018-01-23 16:50] dionsnoeijen opened #70 "Request: Migration documentation update"
It would be great if the documentation was a little more clear on how to make an implementation.

Right now I'm using this library as an example for an AWS Cognito implementation.
https://github.com/pmill/aws-cognito/blob/master/src/CognitoClient.php
It's using the old spomky lib, so I thought I would use the new one. But I find it very hard to follow the documentation.

For example, some code fro

[2018-01-23 23:52] Spomky commented on #70
Hi,

You are right, the use of the bundle is not clear as it should be.
The easiest way in your case is to inject the JKUFactory service into your `CognitoClient`.
Be sure you have the following dependencies installed:

* (`web-token/jwt-bundle` and `web-token/jwt-key-mgmt`) or `web-token/jwt-framework`
* `php-http/httplug-bundle` and [at least one adapter](http://docs.php-http.org/en/latest/clien

[2018-01-25 07:19] Spomky commented on #70
Hi @dionsnoeijen,

I have just updated [the documentation](https://web-token.spomky-labs.com/migration/spomky-labs-jose/jwkset.html) related to that topic.

[2018-01-25 09:16] dionsnoeijen commented on #70
Thank you @Spomky, I will be working on this again in a few hours. When necessary I will keep you posted.

[2018-01-29 20:33] #66 closed

[2018-01-31 00:23] mikemirten opened #75 "Issue with JWSVerifier"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | no

Class ```Jose\Component\Signature\JWSVerifier``` is final and there is no JWSVerifier interface. This makes impossible to mock the class while testing a component has JWSVerifier as a dependency.

[2018-01-31 07:47] Spomky commented on #75
Hi @mikemirten, thank you for reporting this.
This class and almost all classes of the project are final.
The point is that I do not understand why you want to mock a concrete class when you can easily instantiate it (just requires an algorithm manager).

[2018-01-31 15:24] mikemirten commented on #75
Because i'm writing a unit test. It means my class should be tested in an artificial environment of mocked dependencies. Otherwise it would be an integration test and i would not be sure, a bug i caught belongs to my class or to a dependency.

[2018-01-31 19:45] mikemirten commented on #75
Similar problem with ```Jose\Component\Signature\Serializer\JWSSerializer```. Though it is an interface but ```unseialize()``` method it returns an instance of ```Jose\Component\Signature\JWS``` which is a final class. So it makes impossible to mock the serializer itself.

[2018-01-31 19:54] mikemirten commented on #75
Just took a look at tests of the library. You don't using mocks anywhere, only a real instances. So in fact you don't have any unit tests, but only an integration ones. Your architecture just does not allows to write unit tests. And, with all respect, but it means only one: there is something wrong with architecture.

I don't want to looks like a guy only criticizing.  How about, if i would help y

[2018-02-01 07:13] Spomky commented on #75
Hi @mikemirten,

As I said, almost all classes are final. At the moment, I don't plan to remove that keyword.
The tests I wrote don't mock anything because I don't have to.
From my point of view, the use of

[code]

is not more complicated and has the same result as

[code]

You don't need any certificate. For unit testing of your classes you can use the `none` algorithm with the key `JWK::create(

[2018-02-01 15:45] mikemirten commented on #75
Thank you for advice with none-algorithm, it simplifies situation a bit.

Yes, i've noticed what almost all classes are final and it would not be a problem if all final classes would have interfaces.

About unit testing, i've explained already, if you're using real instances it is not a unit-testing, but rather integration.

This is a shortened version of the class:
[code]
That is a symfony guard

[2018-02-01 16:35] Spomky commented on #75
What you say is legit to me. A unit test should not go outside of the class/method you want to test.
It may be possible that a test fails because of the component your are using and not because of a bug in your class.
It looks like there is no choice but adding interfaces. I will try to add these interfaces for the next minor release as there is no BC break here.
Hoping it will help you.

[2018-02-06 13:01] Spomky commented on #75
As it induces lot of method signature changes, I have to postpone the integration of these interfaces.
Will be added to the next major release.

[2018-02-08 13:55] Spomky commented on #75
Closing as classes are not final anymore (starting from v1.1 to be release soon).

[2018-02-08 13:55] #75 closed

[2018-02-17 13:49] Spomky commented on #65
Closing as PR in progress (see https://github.com/web-token/jwt-framework/pull/85)
If you have any remark, please comment in the PR discussion.

Thanks.

[2018-02-17 13:49] #65 closed

[2018-02-25 16:29] timrourke opened #89 "Proposal: Allow definition of required claims and headers"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | no

Currently, the HeaderCheckerManager will perform validation on a header value _only_ if that header is present in the token. I believe it would improve security to enforce a rule that tokens my application consumes must have a c

[2018-02-25 16:57] Spomky commented on #89
Nice feature!

Another way could by to add an interface (let say `MandatoryClaim`/`MandatoryHeader`) with a method `isMandatory(): bool`.
The checker manager will check the presence of the claim/header if the checker implement that interface.

This can be part of the next minor release.

Many thanks.

[2018-02-27 00:15] timrourke opened #93 "Question: What does `$component` mean?"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no

I have a generic question about the name of the `$component` argument one can pass to a `Component/Checker/TokenTypeSupport.php` implementation. What does `$component` mean in this context? [It looks like it's the index of someth

[2018-02-27 08:02] Spomky commented on #93
As [Phil Karlton](https://martinfowler.com/bliki/TwoHardThings.html) wrote, naming things is quite hard.
It is clear that `component` variable should be renamed in something else (e.g. `index` as you proposed).

The JWS and JWE Json General Serialization modes allow several signatures/recipients.
The header should be the union of the protected, unprotected or per recipient headers (see [4. in RFC7

[2018-03-07 09:25] Spomky opened #96 "COSE"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | [RFC8152](https://tools.ietf.org/html/rfc8152), [RFC7049](https://tools.ietf.org/html/rfc7049) and other related specs.
| Version              | v2.0

Waiting for:

* [x] https://github.com/Spomky-Labs/cbor-php

Actions to be perfor

[2018-03-09 11:05] Spomky opened #97 "+Algorithms"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | [draft-irtf-cfrg-webcrypto-algorithms](https://tools.ietf.org/html/draft-irtf-cfrg-webcrypto-algorithms), [RFC8152](https://tools.ietf.org/html/rfc8152), [RFC8230](https://tools.ietf.org/html/rfc8230)
| Version              | v1.2.0

[2018-03-09 11:08] Spomky opened #98 "Deprecated algorithms"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | https://tools.ietf.org/html/draft-irtf-cfrg-webcrypto-algorithms-00
| Version              | 1.2.0?

The data collector indicates what algorithm is deprecated or not.
This specification should be used as a reference for those algorit

[2018-03-09 11:50] Spomky commented on #93
I renamed that variable and added some PHPDoc annotations.
Hope it helps.

[2018-03-09 11:50] #93 closed

[2018-03-09 12:34] Spomky commented on #89
Merged. Will be tagged `v1.1.0` soon.

[2018-03-09 12:34] #89 closed

[2018-03-12 22:18] Spomky commented on #70
Closing as done.
Feel free to reopen if needed.

[2018-03-12 22:18] #70 closed

[2018-03-13 13:29] Spomky commented on #89
Tagged `v1.1.0-beta1`; Will be marked as stable soon.

[2018-03-13 13:30] Spomky commented on #93
Tagged `v1.1.0-beta1`; Will be marked as stable soon.

[2018-03-13 13:30] Spomky commented on #65
Tagged `v1.1.0-beta1`; Will be marked as stable soon.

[2018-03-13 13:30] Spomky commented on #75
Tagged `v1.1.0-beta1`; Will be marked as stable soon.

[2018-03-16 16:00] nicholasbulka opened #109 "Decryption error - too few arguments passed to decryptUsingKey"
Receiving Fatal error: Uncaught ArgumentCountError: Too few arguments to function Jose\Component\Encryption\JWEDecrypter::decryptUsingKey(), 2 passed in  ... expecting 3.

I am using the example listed on this page.
https://web-token.spomky-labs.com/component/jwe/loading.html
Error occurs here:
$jwe = $jweDecrypter->decryptUsingKey($jwe, $jwk);

The source code looks like it expects a $recipient i

[2018-03-16 17:13] Spomky commented on #109
It looks like the documentation is not in line with the library.
I will update it.

In some cases the JWE object may be designed for several recipients (see https://web-token.spomky-labs.com/advanced/jwe/multiple_recipients.html).
The `$recipient` argument corresponds to the recipient index in the JWE object.

To check if you have more than one recipient, you can use the `->count()` method or call

[2018-03-19 15:49] Spomky opened #112 "[FIO] Cleartext JWE"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | https://tools.ietf.org/html/draft-erdtman-jose-cleartext-jwe-00
| Version              | ?

[2018-03-21 11:20] Spomky commented on #98
Done.

[2018-03-21 11:20] #98 closed

[2018-03-22 07:51] Spomky opened #114 "JWS/JWE Split"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | no
| Version              | v1.1.0

Allow JWS/JWE with multiple signatures/recipients to be split into an array of JWS/JWE with only one signature/recipient.

[code]

Example (JSON notation):

[code]

[code]

[2018-03-28 17:28] ghola opened #115 "How do I use this library?"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Version              | 1.0.78

I'm trying to use this library with Symfony 4 to enable JWT based authentication. I installed the bundle using `composer require web-token/jwt-bundle` as per the [documentation](https://web-token.s

[2018-03-28 19:53] Spomky commented on #115
Hi,

First of all, he purpose if this framework and the LexikJWTAuthenticationBundle are not the same.

The LexikJWTAuthenticationBundle is a bundle that provides a firewall to protect an API. The authentication of the users is based on JWT.
This one will help you to manage your keys, key sets or load/issue signed or encrypted tokens. It is supposed to be used by other bundles/applications such as

[2018-03-28 20:09] ghola commented on #115
Thank you for the reply and clarifications. Now I have a much better understanding on the purpose of this library.

[2018-04-03 12:34] Spomky commented on #114
Closing in favor of #118

[2018-04-03 12:34] #114 closed

[2018-04-03 12:55] Spomky opened #119 "Console Commands for JWE/JWS Creation"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | no
| Version              | 2.0

Add commands to allow the creation of tokens from the CLI.

* [ ] Create JWS
    * [ ] Set payload
    * For each signature
        * [ ] Set signature key
        * [ ] Set protected header

[2018-04-12 13:28] Spomky commented on #109
Closing as answered.
Feel free to reopen or comment if you need other details.

Regards.

[2018-04-12 13:28] #109 closed

[2018-04-13 21:51] trevorhreed opened #121 "Create tokens using secret (string)"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Version              | x.y(.z)

I'm trying to use this library to generate JWTs. In other languages/frameworks, I'm accustomed to passing in a secret (string). In this library, it appears I must construct a JWK. Since this token

[2018-04-14 05:59] Spomky commented on #121
Hi,

The [`JWKFactory::createFromSecret`](https://github.com/web-token/jwt-framework/blob/v1.1/src/Component/KeyManagement/JWKFactory.php#L288-L299) method is available in the version `1.1` of the framework.
This version will be marked as stable by the end of the month (`v1.1.0@beta4` released few days ago).

Please note that this is just a convenient way to create a JWK (Json Web Key) from a secr

[2018-04-14 15:36] trevorhreed commented on #121
That did it! Thank you!

[2018-04-14 15:36] #121 closed

[2018-05-15 07:38] lovearthhome opened #122 "why jws not allow RSA & ES256?"
| Q                    | A
| -------------------- | -----
| Bug report?          | yes
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Version              | latest

![_20180515153610](https://user-images.githubusercontent.com/16535358/40043002-bcac2b9c-5855-11e8-8737-e941dbf51bc8.png)
jws will Exception as follows when deal with RSA & ES256.

ECDSA only allow

[2018-05-15 07:52] Spomky commented on #122
* RSA key type is for RSA algorithms (RSxxx or PSxxx).
* EC key type is for EC algorithm (ESxxx).

[2018-05-15 15:55] lovearthhome commented on #122
@Spomky  We had solved the problem using jwt-framework in a very funny way.
we use `AlgorithmIdentifiers.ECDSA_USING_P256_CURVE_AND_SHA256(java code)` to generate public/private key in such a format.
`
public key(private key is similar format: RSA & ES256)
{"kty":"RSA","kid":"***","alg":"ES256","n":"***","e":"AQAB"}
`
now is the miracle time:

1: we change the ES256 to RS256 in thre private key,
2

[2018-05-15 16:27] Spomky commented on #122
Hi,

That a good news. However I am still convinced there is a problem with the result of `AlgorithmIdentifiers.ECDSA_USING_P256_CURVE_AND_SHA256(java code)`.

This lines clearly refers to an EC key on the P-256 curve, but the key you mention has [RSA components](https://tools.ietf.org/html/rfc7518#section-6.3) (namely `n`, `e` and for your private key at least `d` and maybe `p`, `q`, `dq`, `dp` o

[2018-05-15 16:27] #122 closed

[2018-05-29 08:06] Spomky opened #123 "Algorithms shoud have their own package"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | to be confirmed
| RFC? / Specification | no
| Version              | v1.x

At the moment, the packages `web-token/jwt-signature` and `web-token/jwt-encryption` come with a bunch of algorithms.
This causes some problems and unnecessary requirements (OpenSSL, li

[2018-05-29 08:57] Spomky opened #124 "Remove fgrosse/phpasn1"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Version              | v1.x

The library `fgrosse/phpasn1` is only used for key management and RSA key conversions.
This library comprises lot of features that are not needed for this project.

It should be removed in favour of

[2018-05-29 09:01] Spomky opened #125 "Dedicated package for ECC Utils"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Version              | v1.x

Classes in the namespace `Jose\Component\Encryption\Util\Ecc` are only needed for some use cases (e.g. ECDH-ES encryption or key mgmt).
These classes should be part of a dedicated package.

[2018-05-31 07:04] Spomky opened #130 "Leeway not defined for `exp` and `iat`"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification |
| Version              | all

The `exp` and `iat` allow a small leeway to be defined (see https://github.com/web-token/jwt-framework/blob/v1.1/src/Component/Checker/IssuedAtChecker.php and https://github.com/web-token/jwt-framework/b

[2018-06-04 08:21] Spomky opened #131 "Nested token package"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | yes
| RFC? / Specification | no
| Version              | all

The nested token support should have its own package.
At the moment, the classes are provided by the encryption component. The classes should be moved in a dedicated package that will require the si

[2018-06-05 12:54] vsevolod-ch opened #133 "Actual documentation"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Version              | 1.1.4

Hi!
I try to use the JWSVerifier to verify token signature. JWSVerifier::verifyWithKey() method needs some int $signature, but the documentation has no any information about this param (https://web-

[2018-06-05 13:14] Spomky commented on #133
Hi,

You are right thre are some parts here to update.
I will take care of it right now.

The verification returns a boolean that indicates if the token is signature is verified or not. No exception should be thrown.
As the framework supports tokens with more than one signature, the integer $signature has to be set to indicate what signature has to be checked. In general, the tokens are serialized

[2018-06-05 16:15] Spomky commented on #125
Done

[2018-06-05 16:15] #125 closed

[2018-06-05 16:15] Spomky commented on #123
Done

[2018-06-05 16:15] #123 closed

[2018-06-06 09:47] Spomky opened #134 "OPCode optimization"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Version              | all

Some function can be optimized during compilation process.

[2018-06-25 08:16] Spomky opened #136 "Use PHP-CS-Fixer instead of Style-CI"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Version              | all from v1.2

Should also fix #134

[2018-06-25 10:39] Spomky commented on #136
Done in https://github.com/web-token/jwt-framework/commit/5d7120ea93fe32c9c7a4128aec22911267da4f08

[2018-06-25 10:39] #136 closed

[2018-06-25 10:40] Spomky commented on #134
Done in https://github.com/web-token/jwt-framework/commit/5d7120ea93fe32c9c7a4128aec22911267da4f08

[2018-06-25 10:40] #134 closed

[2018-06-25 13:29] Spomky commented on #115
Closing as answered.
The documentation is improved step by step.
Feel free to re-open if needed.

[2018-06-25 13:29] #115 closed

[2018-07-09 15:09] Spomky opened #137 "-out option removal"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Version              | v2.0

The option `--out` or `-o` of console commands can be removed in favour of `>`, `>>`, `&>` or `&>>` of shells.

[2018-07-13 16:58] mwleinad opened #138 "error:0607A082:digital envelope routines:EVP_CIPHER_CTX_set_key_length:invalid key length"
| Q                    | A
| -------------------- | -----
| Bug report?          | Yes
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Version              | x.y(.z)

For the life of me I can't figure out what's going on. I can't decode my payload

Here's my code
https://pastebin.com/fKdVg3qP

Here's the payload
https://pastebin.com/jsjCrRrQ

Am I missing some

[2018-07-15 06:21] Spomky commented on #138
Hi,

I tried to decrypt the token with the given key, but it fails also on my platform.
The key looks invalid.
How is that JWE computed?

[2018-07-17 18:21] mwleinad commented on #138
Ok, I found one error
$key = 'JdbnTFijRYcOJ0rg4CFnl2KnPSHJ1FaJbP6H30rIAB_asozaEDz4iRh4rZFmZDNR'; //New working secret.
//$key = hash('sha256', $key); < I was using this, but this hash was different from a ruby example that I have working
$key = openssl_digest( $key , 'sha256', true); // I'm doing this now, which matches the ruby hash

However now I get a CEK Unable to decrypt or to verify the tag

[2018-07-17 20:02] Spomky commented on #138
Hi,

This small example works fine on my platform:

[code]

Have fun :+1:

[2018-07-17 20:21] mwleinad commented on #138
OMG is working!!
I never'd get this correctly
so basically the unwrapKey method is
$kek = Base64Url::decode($key->get('k'));
so that's why I needed to encode it first?

Thanks! It was driving me crazy!

[2018-07-23 10:40] TriPSs opened #139 "JWE / JWK question"
Inside the documentation of JWE there is this small section:
[code]

But it's unclear for me how the `k` has been generated?

[2018-07-23 11:29] Spomky commented on #138
Excellent!
Now closing as resolved.
Feel free to open it again if needed.

[2018-07-23 11:30] #138 closed

[2018-07-23 11:58] Spomky opened #142 "JWKSet Cache Control Header ignored"
| Q                    | A
| -------------------- | -----
| Bug report?          | yes
| Feature request?     | no
| BC Break report?     | yes
| RFC? / Specification | no
| Version              | 1.2

Please refer to discussions in the following issues/PR:

* https://github.com/symfony/symfony/issues/25736
* https://github.com/symfony/symfony/pull/25583
* https://github.com/symfony/symfony/pull/2

[2018-07-23 13:47] TriPSs commented on #139
Thanks!

[2018-07-23 13:47] #139 closed

[2018-08-07 16:36] omercadocoss opened #143 "Documentation lists incorrect name for A256CBC-HS512"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | https://tools.ietf.org/html/rfc7518
| Version              | N/A

Currently the documentation over at https://web-token.spomky-labs.com/ lists the usage of an encryption algorithm incorrectly named A256CBC-HC512.

The class in the co

[2018-08-07 16:50] #143 closed

[2018-08-07 16:51] omercadocoss commented on #143
Tackling on the corresponding project: jwt-doc
https://github.com/web-token/jwt-doc/pull/7

[2018-08-21 13:18] Spomky commented on #142
Done

[2018-08-21 13:18] #142 closed

[2018-09-05 14:28] haroldmodesto opened #144 "Question: Missing iss checker?"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Version              | 1.2.3

I'm new to this framework and to JWT in general. I was looking for an issuer checker under Component/Checker and did not find any.  I was about to write one when I found IssuerChecker class as one o

[2018-09-06 08:57] haroldmodesto commented on #144
@Spomky Thanks that clears it up and thank you for all your work on this framework.

[2018-09-10 13:35] Spomky opened #145 "Specification Design Issues"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | no
| BC Break?     | no
| RFC? / Specification | no
| Version              | all

The framework covers all the specifications and also includes experimental features from drafts.
It appears that the design of these specifications leads to misuse and potential security issues.

Non-exhaust

[2018-09-13 02:34] acodercat opened #146 "i want jwk to pem"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | yes
| Version              | x.y(.z)

i want jwk to pem

[2018-09-13 06:46] Spomky commented on #146
Please read https://web-token.spomky-labs.com/console#pkcs-1-key-converter

[2018-09-13 06:46] #146 closed

[2018-10-11 15:26] moderndeveloperllc opened #147 "phpbench missing"
| Q                    | A
| -------------------- | -----
| Bug report?          | yes
| Feature request?     | no
| BC Break report?     | no
| RFC? / Specification | no
| Version              | 1.2.3

It does not appear that the `phpbench` library is actually installed, so it's not possible to run the benchmarks. Adding it to the `require-dev` gets it working fine.

[2018-10-11 19:06] Spomky commented on #147
Actually this is not a bug but the desired behaviour.
The tools testing tools are not part of the composer.json file anymore (phpbench, phpstan, phpunit, php-cs-fixer…).
The problem is that all these tools created conflicts because of their own dependencies.
I think I will add at least phpunit in the next releases. Other tools should be install globally or using their PHAR archive.

[2018-10-11 19:07] Spomky commented on #130
Changed my mind. Classes will not be changed.

[2018-10-11 19:07] #130 closed

[2018-10-11 19:09] moderndeveloperllc commented on #147
GTK. I guess the docs for that page should be updated to mention that? Thanks for the reply and including `phpbench` configurations. I was able to figure out that EdDSA was only slightly slower than HS512 on my machine, so I'm going to give that a try instead!

[2018-10-11 19:09] #147 closed

[2018-11-08 15:47] DASPRiD opened #153 "Split off Symphony bundling"
Right now, this package introduces a lot of dependencies which are only useful when you actually use the symphony bundle. I'd recommend to split that bundle of into a separate package to keep this one lightweight.

[2018-11-08 15:59] DASPRiD commented on #153
Actually nevermind, I misunderstood the project structure with the other packages :)

[2018-11-08 15:59] #153 closed

[2018-11-08 17:02] Spomky commented on #153
No worries. You will find the list of packages in the [`replace` section of composer.json file](https://github.com/web-token/jwt-framework/blob/v1.2/composer.json#L85-L107).
Just pick the ones you need.

[2019-01-04 13:33] moderndeveloperllc commented on #145
@Spomky Thanks for the update and for the software! I'm also looking into integrating your FIDO2 library into my next project as an optional authentication method. Great stuff.

[2019-01-04 14:46] Spomky commented on #144
Closing as integrated in the v2.0 to be released by the end of the month.

[2019-01-04 14:46] #144 closed

[2019-01-07 08:32] Spomky opened #155 "google/wycheproof test vectors integration"
See https://github.com/google/wycheproof

This repository contains a lot of test vectors to verify the cypher algorithms are correctly implemented.
These tests should be added to this project to detect any potential security issue.

[2019-01-10 12:50] Spomky commented on #131
Done. See https://github.com/web-token/jwt-nested-token

[2019-01-10 12:50] #131 closed

[2019-01-11 15:10] mdeboer opened #158 "Do we need JsonConverter?"
| Q                    | A
| -------------------- | -----
| Bug report?          | no
| Feature request?     | yes
| BC Break report?     | no
| RFC? / Specification | no
| Version              | 1.3.0 / 2.0.0

Just wondering why there is a `JsonConverter` interface with a `StandardConverter` implementation. I understand that some extra options like `JSON_UNESCAPED_SLASHES` and `JSON_UNESCAPED_UNI

[2019-01-13 09:59] Spomky commented on #158
Hi,

This interface is used to convert the payload, but also the headers and to serialize into the non-compact serialization modes.

But you are right when you write that nobody will implement its own converter and I agree with you: it can be marked as deprecated and removed in v2.

Regarding the payload, I prefer to keep the current method signature: the setter waits for a string, the getter retu

[2019-01-14 11:58] mdeboer commented on #158
Looks good, you're right about the payload. Anything can be stored really and a string makes sense.

Thanks again, closing this 😁

[2019-01-14 11:58] #158 closed

[2019-01-15 13:43] Spomky commented on #155
Hi @mdeboer,

That is what I would like to do. Thank you for the help.
I have some minor remarks (`\mb_strlen($test['key']) * 4` could be removed in favor of the [keySize parameter](https://github.com/google/wycheproof/blob/master/testvectors/aes_gcm_test.json#L13) or `case '128':`=>`case 128:`), but this type of test is exactly what I planned to write.

The tests marked as `acceptable` should als

[2019-01-15 17:09] mdeboer commented on #155
Yeah, that needs to be fixed in the Data Provider (added to the test object) as it's only available in the group object. However I wanted to return all tests instead of all groups to get a much better view which tests fail and which tests work. If it returned groups you'd only know which groups fail or succeed.

However it's a small adjustment that can be easily made and I agree it should be done.

[2019-01-20 21:09] Spomky commented on #155
I agree with you, we can start a new branch and integrate these tests. Algorithms haven’t changed in v2 (or just a bit). Moreover the v1 is still maintained so this should be done in v1 first and then adapted with no effort for v2.

I am experimenting some phpunit extensions (inspired by the Symfony bridge used to catch deprecated features):

* An error is triggered from the test (e.g. `E_USER_NOT

[2019-01-31 14:53] moderndeveloperllc commented on #145
@Spomky The only thing on your list I hope you don't prevent is the "Using JWT for session management". Yes, I've read both of the diatribes against this practice, but I like my "reimplementation of sessions" and don't particularly want my libraries to be spamming me log messages - not that I'm sure how you would do that anyways. Thanks.

[2019-02-01 08:10] Spomky commented on #145
Hi @moderndeveloperllc

This framework makes no (and will never make) assumption on the way you use tokens.

The use of Json Web Tokens for session management is not a bad idea at all. I disagree with the trendy blog posts claiming you should avoid that. [This page](https://medium.com/@yuliaoletskaya/can-jwt-be-used-for-sessions-4164d124fe23) sums up the situation and my POV.

Actually, no log mes

[2019-02-21 22:40] juanm18 commented on #115
I have ran into issues when attempting to use this library as well. I am looking to use the JWE bundle i have installed it like shown in documentation `composer require web-token/jwt-encryption`.. When i try to create a token i get an error: `Fatal error: Uncaught Error: Call to private Jose\Component\Core\AlgorithmManager::__construct() from invalid context in /Volumes/Source/authserver/asp.php:1

[2019-02-22 06:50] Spomky commented on #115
Hi @juanm18,

Please see https://github.com/web-token/jwt-doc/issues/11
The doc is now in line with the v1.0

[2019-03-08 09:38] marijnhurkens opened #164 "Unrecognized option "jku" under "jose.keys.test". Did you mean "jwk"?"
**Describe the bug**
When using the config for using a JKU key set I get an error that JKU is not a supported option.

**To Reproduce**
Steps to reproduce the behavior:

In httplu.yaml
[code]

In jose.yaml
[code]

Error:
[code]

Installed package is the latest `composer require web-token/jwt-framework` (1.3.1).

**Expected behavior**
For the configuration to work.

**Desktop (please complete the f

[2019-03-08 09:41] marijnhurkens commented on #164
Okay just after posting I found out that the config is wrong, keys need to be key_sets.

So the docs here have a typo:
https://web-token.spomky-labs.com/symfony-bundle/key-and-key-set-management/key-set-management-jwkset#from-a-jku-jwk-url

[2019-03-08 10:17] Spomky commented on #164
Good catch!

I've just updated the page accordingly (see https://github.com/web-token/jwt-doc/commit/ba4482cb478dc8fbd68f00472917b04c33756b2d and https://github.com/web-token/jwt-doc/commit/fcb7863dbe77d4d3303922049a26b8280e218559)

[2019-03-08 10:17] #164 closed

[2019-03-08 19:18] moderndeveloperllc opened #165 "Creating an OKP with JWKFactory creates too long a private key for signing"
**Describe the bug**
When using `JWKFactory::createOKPKey(Ed25519)` a 64 byte secret key is created. When used to [sign a token](https://github.com/web-token/jwt-framework/blob/8da90ccbead117ace5fb6ef15e5a85440e9295d5/src/SignatureAlgorithm/EdDSA/EdDSA.php#L33), a SodiumException is thrown:
[code]
Note that the constant is defined as 32. Your tests for OKP creation and signing use a manually creat

[2019-03-08 19:27] moderndeveloperllc commented on #165
Is it correct that in `createOKPKey` you are creating the key pair:
[code]

And then _recreating_ that secret key:
[code]
Isn't `d` already the secret key? Can it not just be
[code]

In `verify` right below that you are doing `$public = Base64Url::decode($key->get('x'));`

[2019-03-11 13:06] #165 closed

[2019-03-11 13:07] Spomky commented on #165
See #168 and `v1.3.2`

[2019-03-14 10:08] marijnhurkens opened #169 "[Symfony] How to prevent jku request when testing?"
For my tests I have created a test jwk set and I put this in a test override config file:

packages/test/jose.yaml:
[code]

Now I also override my authentication service configuration with the test keyset instead of the normal JKU keyset.

services_test.yaml
[code]

The problem is that, even though the JKU keyset is never used when testing it still tries to request it. Now I would rather prevent t

[2019-03-14 11:22] Spomky commented on #169
What you can do is to use the [Httplug Mock Client](http://docs.php-http.org/en/latest/clients/mock-client.html).
THis client is used in the tests of the bundle. Have a look at [the configuration file](https://github.com/web-token/jwt-framework/blob/v1.3/src/Bundle/JoseFramework/Tests/config/config_test.yml). You'll see that fake uris like `https://foo.bar/keys.jku` are set but when called the moc

[2019-03-14 17:14] marijnhurkens commented on #169
Thanks, that solution works perfect :)

[2019-03-14 17:14] #169 closed

[2019-04-05 12:53] urmamb opened #170 "Need PHP7.0 support for spomky jwt-framework"
Hi,

I would love to use jwt-framework library but PHP versioning stops me.

Our server is on debian 9 stretch which is the latest stable release until now. I want to use those packages which are officially released by debian. In this case PHP7.0 is the official release for debian stretch.

PHP7.3 will be there in debian bluster but bluster is yet in test.

[Composer](https://packagist.org/package

[2019-04-05 13:14] mdeboer commented on #170
Just install PHP 7.2 or 7.1, you gotta keep up with the PHP versions somehow. You can't tell *all* dependencies to drop to 7.0.

Anyway here's some reading material: https://www.rosehosting.com/blog/how-to-install-php-7-2-on-debian-9/

They use the Sury repository to install the latest PHP versions. Seems like a credible guy that's been at it for a long time (in case you're worried): https://deb.s

[2019-04-05 13:34] urmamb commented on #170
@mdeboer Thank you. I know about what you suggested but i want to stick to the stable and official product.

[2019-04-05 14:20] moderndeveloperllc commented on #170
@urmamb Just a point about what @mdeboer said. @oerdnj is actually the [maintainer for the PHP package](https://packages.debian.org/source/stretch/php-defaults) for Debian (amongst other packages). Using his package at https://packages.sury.org/php/ is basically using the stable, official package :-)

On a coding level @Spomky is using nullable types on his method declarations (>= PHP 7.1), That m

[2019-04-05 15:19] urmamb commented on #170
@moderndeveloperllc Thank you. We already had used sury's package on our environment and there comes a point where we had to face a lot of issues and we had to rollback to 7.0.

Lets wait for the debian bluster then.

[2019-04-06 11:32] Spomky commented on #170
Hi,

I am sorry @urmamb, but @moderndeveloperllc is right, the current source code uses features introduced in PHP 7.1. Moreover PHP 7.0 is not supported anymore, even for security fixes.

I understand you have troubles with the new versions of PHP, but that’s not a reason for adding code regressions here.

[2019-04-19 05:06] aleskr opened #171 "Stop jwt-key-mgmt from tanking performance by setting required PHP version to >=7.2 or removing polyfill"
So I was being stupid today and added a popular dependency without checking all it's dependencies. I pushed it to prod after testing and the servers tanked as a result of web-token/jwt-key-mgmt being insanely slow, even when not being used.

**So what went wrong?**
web-token/jwt-key-mgmt depends upon a polyfill for ext/sodium (paragonie/sodium_compat), and this results in paragonie/sodium_compat c

[2019-04-19 06:14] Spomky commented on #171
Hi @aleskr,

You are absolutely right and this will be done in the v2.0 branch for which PHP 7.2 will be the minimum requirement (no release date at the moment).
What you can do in your composer.json file is to set an `replace` key with ``:

Ex:

[code]

[2019-04-19 07:02] aleskr commented on #171
Thanks, that's great to hear, @Spomky :)

[2019-04-22 20:36] Spomky commented on #171
Closing now. You can test with the v2.0 branch to verify it is faster or not.
If you use the ECDH-ES key encryption algoirthm on PHP 7.3, this will be really faster (at least 50x)

[2019-04-22 20:36] #171 closed

[2019-04-22 20:36] Spomky commented on #170
Closing as answered.

[2019-04-22 20:36] #170 closed

[2019-06-24 09:35] Spomky opened #180 "Conformance test suite"
**Is your feature request related to a problem? Please describe.**
Many libraries exist and a lot is referenced at https://jwt.io/
But it is not easy to verify that these libraries (including web-token suite) fulfill with the specs.

**Describe the solution you'd like**
It would be nice if an online tool could allow library owners/users to check that a library is compliant with the specifications.

[2019-06-25 11:13] pinoniq opened #181 "psr/event-dispatcher is incompatible with symfony 4"
It is currently impossible to use the bundle provided in v2 with symfony. However this one is installed by default.

This because of a dependency on `Psr\EventDispatcher\EventDispatcherInterface`

The error is:
[code]

[2019-06-25 11:57] Spomky commented on #181
It is compatible, but as spotted out an alias have to be created:
Be sure that
* `psr/event-dispatcher` is installed (should be with v2.0.5+)
* `symfony/event-dispatcher` (you may require it depending on your SF app).

Second, create the following alias in `services.yaml`:

[code]

[2019-07-02 16:24] shadowhand opened #182 "Cannot generate RSA key with console tools"
**Describe the bug**
Console tools `key:generate:rsa` are broken because they expect a string to be an int:

https://github.com/web-token/jwt-framework/blob/95e1a3bffd2082aa5f9d2976bf384c0fb5c5dc6f/src/Component/Console/RsaKeyGeneratorCommand.php#L36-L40

These lines are an impossible situation, as input values in command line are always strings. The correct check might be:

[code]

**To Reproduce

[2019-07-03 10:25] Spomky commented on #182
Thank you for reporting this issue.
It is now fixed in v2.0.7.
Feel free to re-open if the issue still exists.

[2019-07-03 10:25] #182 closed

[2019-07-08 13:43] thomasvargiu opened #185 "Make "ext-gmp" an optional dependency when not necessary"
`ext-gmp` is only used for few and not standard features, and in some packages is required even if not necessary.
For example, `jwt-key-mgmt` requires the `gmp` extension, but it's only used for some key analyzers.

It would be better to:

- remove `ext-gmp` as a hard dependency when not necessary, introducing some check like:
[code]
  - `jwt-core`
  - `jwt-key-mgmt`
- add `ext-gmp` as a hard depe

[2019-07-08 14:46] Spomky commented on #185
I fully agree with this.
Let me few days to find a way to achieve that. If no BC break then this could be added for the next minor relase v2.1.

[2019-07-18 18:26] ls-renaud-tilte opened #190 "Jose\Component\Signature\Util\RSA does not exists in v2"
**Describe the bug**
When you use composer to install the library (or components of it), v2 comes by default, which is great.

I'm trying to verify a JWT with a JWK by following the example on this page: https://web-token.spomky-labs.com/components/signed-tokens-jws/jws-loading.

My JWK corresponds to a RS256 key, but the verification always fail in

[code]

The `JoseRSA` class is an alias for `Jo

[2019-07-18 18:54] ls-renaud-tilte commented on #190
Looks like commit https://github.com/web-token/jwt-signature/commit/74eac73c3b605cb84da2b169bd67800611989efc is in fault, it does not make sense to delete this file regarding to the commit message.

Or maybe I'm missing something.

[2019-07-18 19:10] Spomky commented on #190
Hi, thank you for this report.
The [class `Jose\Component\Signature\Util\RSA` exists in v2.0.8](https://github.com/web-token/jwt-framework/blob/v2.0.8/src/SignatureAlgorithm/RSA/Util/RSA.php).
It has been removed from the `web-token/jwt-signature` because it is now part of the `web-token/jwt-signature-algorithm-rsa` one.
It is [mentioned in the doc](https://web-token.spomky-labs.com/components/sig

[2019-07-18 19:41] ls-renaud-tilte commented on #190
Output of `composer show -i | grep web-token`

[code]

1. In `vendor/web-token/jwt-signature-algorithm-rsa/RSA.php`, the `verify()` function depends on `Jose\Component\Signature\Util\RSA`.
2. Autoloader makes it so this namespace points to the signature component
3. If you remove the file from the component, the class cannot be loaded
4. Exception is caught in `JWSVerifier`
5. Because of the `cont

[2019-07-18 19:44] ls-renaud-tilte commented on #190
Ho I see, I should update the `jwt-signature-algorithm-rsa` to 2.0.8.

[2019-07-18 20:03] #190 closed

[2019-07-18 20:09] Spomky commented on #190
Happy to read that it is fixed.
That’s strange to see the RSA package at v2.0.3 when other ones are at v2.0.8.
If not done, your dep versions should be `^2.0` to allow all v2.x versions.

[2019-07-18 21:42] Spomky commented on #185
Done in v2.0.9.
Let me know if it is not convenient for you or if I missed something.

[2019-07-18 21:42] #185 closed

[2019-07-18 21:43] Spomky commented on #181
Closing as answered.
Feel free to re-open this issue in needed.

[2019-07-18 21:43] #181 closed

[2019-08-14 18:57] girishassudanizeon opened #195 "Query regarding Security Patch for using spomky-Labs/jose"
Hello,

This issue is not directly related to this repository.

But i was going through the Spomky-Labs/jose repo and its say that web-token/jwt-framework is highly recommended to use but i noticed it also says there will be security patch from 2019 to 2020.

I am just looking for the security patch if its there is which i can use for couple of months as i have one old project which will end in 20

[2019-08-17 08:08] ziming opened #196 "Why is it interesting to check alg and enc with header checker when JWS/JWE loaders already checks it?"
In the docs it says this:

Why is it interesting to check them with header checker? Just for curiosity.

[2019-08-17 20:17] Spomky commented on #196
Normally, the token loading process is very similar to [the one described in the documentation](https://web-token.spomky-labs.com/security-recommendations#loading-process).

The `alg`/`enc` check is a very trival operation to perform (call `inArray` PHP function).

If you don’t check the header, the process will continue to the next step that is the verify the signature (JWS) or the decryption the

[2019-08-17 20:25] Spomky commented on #195
Hello,

There is no patch to apply. The last version on Github is the right version to use.
No security notice have been received so far.
As far as I know there is no risk to use that library.

[2019-08-18 12:08] ziming commented on #196
Ah okay @Spomky

So if I got you correctly, although the JWS/JWE loader also checks for the alg and enc headers. It is better to first use HeaderManager to check it so that if it is the wrong alg and enc, we can reject it early instead of running the full JWS verification or JWE decryption process?

[2019-08-20 17:31] sglessard opened #197 "Migration documentation"
Hello,

The migration pages (from `spomky-labs-jose` to `web-token/jwt-framework`) give a 404 :

https://web-token.spomky-labs.com/migration/spomky-labs-jose
https://web-token.spomky-labs.com/migration/from-spomky-labs-jose

Thanks,

[2019-08-20 23:57] gabema opened #198 "Make ext-sodium an optional dependency"
I'm working on building a FIPS compliant PHP solution and in order to do so have to prove that only openssl based crypto algorithms are in use. Does jwt-framework rely on ext-sodium or is it only an optional dependency that can be configured to be used instead of ext-openssl?

[2019-08-21 06:56] Spomky commented on #197
Hi @sglessard,

Where did you got these links? If you go to the [migration page of the v1.x](https://web-token.spomky-labs.com/v/v1.x/migration), the link is correct (https://web-token.spomky-labs.com/v/v1.x/migration/from-spomky-labs-jose).
This page does not exist anymore [in the v2.x branch](https://web-token.spomky-labs.com/migration).

[2019-08-21 07:01] Spomky commented on #198
Hi @gabema,

The `ext-libsodium` is required in the framework, but not is sub packages.
It is only required for
* EdDSA signature algorithm (over Ed25519 curve)
* ECDH-ES key encryption algorithms using X25519 curve
* The JWK factory when creating OKP keys (i.e. Ed25519 or X25519 curve based keys).

[2019-08-21 15:14] stof commented on #197
well, he probably got the link at the time 1.x was the main branch in the doc, as the doc website does not include the branch in the URL for the main one (and so changing the main branch is changing all URLs)

[2019-08-21 15:43] gabema commented on #198
@Spomky Thank you for providing these details. Would you be open to a pull request to add this type of info to the Readme so its clear why the framework dependencies are included? This would be extremely helpful when dev/architects want to include this library but need to articulate dependency usage with compliance/security officers before incorporating 3rd party software.

[2019-08-21 16:17] Spomky commented on #197
That's correct. The links of the main version does not include the version. The issue will certainly occurs when mew major versions will be released.

I will ask gitbook to change that behavior or create an option.

[2019-08-21 16:18] Spomky commented on #198
Agreed. Just let me a few moment to prepare and release the changes

[2019-08-21 19:59] girishassudanizeon commented on #195
Thank you for your response.

I think i got confused going through the readme file for : https://github.com/Spomky-Labs/jose saying below

--------------------------------------------------------------------------------------------------
We highly recommend you to use the new JWT Framework project instead of this library.

    Active support of this library is provided until end of 2018.
    **_Se

[2019-08-21 21:32] Spomky commented on #198
Done in #199 and https://github.com/web-token/jwt-doc/commit/5c8e7913542dc0ff51f68c3497743a2a14b4353f

[2019-08-21 21:32] #198 closed

[2019-08-21 21:43] Spomky commented on #196
That’s it!

[2019-08-22 07:20] Spomky commented on #195
OK maybe that paragraph is not clear enough.
In any case, if a security issue is found, the last branch will be patched and tagged. A CVE will be addressed so that security tools like https://github.com/sensiolabs/security-checker / https://security.symfony.com/ will warn you.

Closing now. Do not hesitate to re-open if needed.

[2019-08-22 07:20] #195 closed

[2019-08-22 07:24] Spomky commented on #96
Work done in https://github.com/web-auth/cose-lib

[2019-08-22 07:24] #96 closed

[2019-08-22 10:28] stof opened #200 "version 2 removed some factory methods that were not marked as deprecated."
**Describe the bug**
`\Jose\Component\Checker\HeaderCheckerManager::create`, `\Jose\Component\Core\AlgorithmManager::create`, `\Jose\Component\Checker\HeaderCheckerManager::create` and `\Jose\Component\Signature\Serializer\JWSSerializerManager::create` are gone in 2.x, but they are not marked as deprecated in 1.3.8 and are not listed in the migration guide.

**Expected behavior**
These methods sho

[2019-08-22 10:29] stof commented on #200
and the constructors should also become public in a 1.3.x release (otherwise the deprecation cannot be solved)

[2019-08-22 10:46] Spomky commented on #200
Hi @stof,

The documentation is now up to date.
Waiting for the end of the tests to merge #201 and tag.

Thank you for this report, I really appreciate.
I close it for now. If you have any comment please continue in #201.

[2019-08-22 10:46] #200 closed

[2019-08-23 18:20] sglessard commented on #197
Simply by browsing https://github.com/Spomky-Labs/jose :

[2019-08-23 18:33] Spomky commented on #197
Thank you. This is now fixed.

[2019-08-26 16:08] stof opened #203 "RS* algorithms fail in version 2 with openssl 1.0.2 while it worked in 1.3.8"
**Describe the bug**
When using openssl 1.0.2g (the version available on Heroku when using the heroku-16 stack), the RS256 algorithm fail to verify the signature, while the exact same code works in 1.3.x, or when using openssl 1.1.1c (which I do locally, making the debugging quite hard).

But the changelog does not mention a dependency on specific versions of openssl and the code does not check th

[2019-08-26 16:17] stof commented on #203
Note that I haven't bisected which version of openssl is the minimum one to make things work.

[2019-08-26 17:44] Spomky commented on #203
Could you try with `ext-gmp` as required dependency in your composer.json file?

[2019-08-26 19:47] Spomky commented on #203
Should be fixed with v2.0.12. I tried to get rid of GMP in v2.0.[9-11] but it looks like I missed something.

[2019-08-27 11:39] stof commented on #203
Note that with a recent openssl version, the new code (using `openssl_verify`) works fine. But it seems it fails with older releases of openssl. I don't see any usage of GMP in this code path.

[2019-08-30 03:41] ziming commented on #196
But wouldn't most requests be legit ones and hence this header checker actually slow things down in practice?

[2019-08-30 06:48] Spomky commented on #196
I prepared some tests to check if it actually slow down the process or not.
In the attached package, there are 2 tests:
* The first one with the `alg` header parameter checker,
* The second one without any header checker. The checker manager is still called even if empty to be is the same configuration (it also checks the `crit`  header).

I also used a key set with 6 keys (common usage if key rot

[2019-08-30 06:55] ziming commented on #196
Wow, I didn't expect this. Thank you very much @Spomky

[2019-09-04 06:53] infuginindia opened #205 "Can I use this for core php project"
Hi Can I use Core PHP project,
if yes how to call autoload.php and how to make object, if you have any code sample, please send us
Thank you

[2019-09-04 09:26] infuginindia opened #206 "Fatal error: Uncaught Error: Class 'Jose\Easy\Load'"
Fatal error: Uncaught Error: Class 'Jose\Easy\Load' not found in C:\xampp1\htdocs\jwt2\index.php:23 Stack trace: #0 {main} thrown in C:\xampp1\htdocs\jwt2\index.php on line 23

[2019-09-04 09:28] infuginindia commented on #206
[index - Copy.zip](https://github.com/web-token/jwt-framework/files/3573778/index.-.Copy.zip)

[2019-09-04 09:49] Spomky commented on #206
[`In version 2.1, an "Easy" component will be released.`](https://web-token.spomky-labs.com/easy)

The v2.1 is not yet released and the component not available at the moment.
What you can do is to have a look at [the PR for this component](https://github.com/web-token/jwt-framework/pull/184) and [the associated branch](https://github.com/web-token/jwt-framework/tree/Easy/src/Easy)

[2019-09-04 09:49] #206 closed

[2019-09-04 09:57] infuginindia commented on #206
its also giving error
http://prntscr.com/p1mme9
http://prntscr.com/p1mmvf

[2019-09-04 10:01] infuginindia commented on #206
that fixed now this issue coming
http://prntscr.com/p1mouu

[2019-09-04 13:06] moderndeveloperllc commented on #205
@infuginindia Yes, this can be used with any PHP framework. @Spomky does include lots of Symfony classes, but they are all optional.

You will want to check out the documentation. Each of the [components](https://web-token.spomky-labs.com/components) has a [composer](https://getcomposer.org/doc/) `require` statement at the top of the documentation page that is used to include the classes. The docu

[2019-09-05 08:19] unixslayer opened #207 "Loading JWK from P12 file or add custom JWKSource"
In Symfony application I tried to load JWK from P12 file with following configuration:

[code]

On runtime I got an error "**Unable to load the key.**". This is because file source uses `\Jose\Component\KeyManagement\JWKFactory::createFromKeyFile`. When using `\Jose\Component\KeyManagement\JWKFactory::createFromPKCS12CertificateFile` method, file is loaded correctly.

Tried to define my own source

[2019-09-05 09:58] Spomky commented on #207
OK for PR #207.
I close the issue. Let's continue the discussion in the other thread.

[2019-09-05 09:58] #207 closed

[2019-09-05 10:34] unixslayer commented on #207
@Spomky which thread will it be?

[2019-09-05 10:42] Spomky commented on #207
#208

[2019-09-05 11:08] infuginindia opened #209 "too confusion"
Hi Is there any way to not to set too many things , like algorithm , checker, etc.
Just give do this  jws-creation

always giving error
Fatal error: Uncaught Error: Call to undefined method Jose\Component\Core\AlgorithmManager::create() in C:\xampp1\htdocs\jwt2\index.php:34 Stack trace: #0 {main} thrown in C:\xampp1\htdocs\jwt2\index.php on line 34

I need ES256, token to create JWT
https://web-to

[2019-09-05 11:49] Spomky commented on #209
Hi,

This is a known problem. The learning curve is quite impressive and that’s why the #184 has been created.
Regarding your issue, this method has been deprecated in v1.x and removed in v2.0. You have to use the constructor instead.
Can you tell me from where you copied/pasted this line of code? I may have missed something in the documentation.

[2019-09-05 11:56] infuginindia commented on #209
Thanks May you please let me know how can I install Version below 2.0 as I am trying to installed ES256 algo with command -> composer require web-token/jwt-signature-algorithm-ecdsa

its saying nothing to install

// loading algoridhm
use Jose\Component\Core\AlgorithmManagerFactory;
use Jose\Component\Signature\Algorithm\ES256;
use Jose\Component\Encryption\Algorithm\KeyEncryption\PBES2HS512A256KW

[2019-09-05 11:58] infuginindia commented on #209
And when you going to release easy way ?

[2019-09-06 08:13] Spomky commented on #205
Thank you @moderndeveloperllc  for the detailled answer.
Closing as answered.

@infuginindia please note that no commercial support is available here except for active supporters.

[2019-09-06 08:13] #205 closed

[2019-09-06 08:15] Spomky commented on #209
The method `add` returns `null` so chained calls is not available,
You have to refactor that part. By the way there is no need to use the factory.

End of 2019

[2019-09-06 08:15] #209 closed

[2019-09-09 13:34] unixslayer opened #212 "Manage public certificate"
Probably more question than a bug report.

I've noticed that when defining JWK from public PEM file, it looks different when changing back to PEM format.

PEM file:

[code]

JWK configuration:

[code]

Dumping JWK back into PEM looks like this:
[code]

PEM looks like this:

[code]

When handling private keys (load JWK from PEM and dumping it back to PEM) the same way, I have the same PEM file.

Is

[2019-09-09 13:45] Spomky commented on #212
Hi,

This is a normal behavior.
The PEM at the end is not the certificate, but only the key in that certificate (a certificate is a key signed by an authority)
As the information in the certificate are not part of the JWK object,  it is impossible to convert it back into a certificate

[2019-09-09 19:53] unixslayer commented on #212
Ok, that make sense :) Until now I was only scratching the surface so please excuse me for noob questions :)

I have a case where I need to use private key and its corresponding certificate to register with specific service. It was pretty straight forward for me to use them both the same way. Looks like I have to read more :)

[2019-09-09 19:53] #212 closed

[2019-09-11 08:51] Spomky commented on #212
No worries,

The specs are quite dense and this framework too.
The library and the bundle are able to manage several types of keys. It should fit on any use cases.
I will simplify the documentation and add examples. Feel free to send me the details of your use case, I will be happy to add it into the doc

[2019-09-11 10:18] Spomky commented on #197
Closing as fixed

[2019-09-11 10:18] #197 closed

[2019-09-11 10:21] Spomky commented on #196
Closing as answered.

[2019-09-11 10:21] #196 closed

[2019-09-26 13:53] valtzu opened #215 "Undefined function mb_str_split"
**Describe the bug**
Starting from version 2.0.11, the RSA encryption fails with error of `Error: Call to undefined function Jose\Component\Encryption\Algorithm\KeyEncryption\Util\mb_str_split()`
I'm not sure if there is more mb_str_split calls in the project.

**To Reproduce**
Steps to reproduce the behavior:
1. Use JWEBuilder to build RSA encrypted JWE

**Expected behavior**
No error, like 2.0.1

[2019-09-26 19:21] Spomky commented on #215
Hi @valtzu,

You are right it looks like this method is only supported on PHP7.4.
php-cs-fixer modified it. I will revert that change asap.

[2019-09-27 18:43] Spomky commented on #215
For the record: https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/4301#issuecomment-527968055

[2019-09-27 18:46] Spomky commented on #215
Fixed in `v2.0.13`

[2019-09-27 18:46] #215 closed

[2019-10-09 02:28] eman1986 commented on #181
can this be in the documentation? I stumbled on this issue as well and this solved my problem.

[2019-10-11 02:02] srgjames opened #217 "1.0 - 2.0.13 migration attempts fail"
The below code is constantly giving me Fatal error: Uncaught Error: Call to undefined method Jose\Component\Signature\Serializer\JWSSerializerManager::create()
I can see the Composer is set correctly the correct files are their. Not sure what im doing wrong. Sadly updating Server with new build and cant get  version 1.3 so my code would still work.
[code]

[2019-10-11 06:27] Spomky commented on #217
Hi @srgjames,

I am sorry to read that you have troubles during the migration.
Why is it impossible to go to 1.3?
What dependency is blocking the update?

[2019-10-11 06:35] Spomky commented on #181
Hi @eman1986,

Indeed I will try to automatically create the alias from the bundle if missing.
This way you don't need to modify any config file or read specific notices from the doc.

[2019-10-11 14:54] srgjames commented on #217
@Spomky

So Composer only gives the Option to update to 2.0 or higher even using Composer to set specific versions. Going to try some more testing to see how to get the 2.0.13 version working. Any Idea when you are looking to release the 2.1 ?

[2019-10-11 15:17] hirvinen opened #218 "Apparently useless requirements in jwt-core."
**Describe the bug**
Package web-token/jwt-core declares a requirement of beberlei/assert. However, it does not seem to be used by the package, thus resulting in unnecessary package and php extension installation requirements.

**To Reproduce**
Steps to reproduce the behavior:
1. composer install web-token/jwt-core
2. If your php doesn't have ext-intl enabled, installation will fail.
3. If your ph

[2019-10-11 18:00] srgjames commented on #217
I ended up Fully removing the Composer install starting fresh and forcing composer.json to have the 1.13 version worked. Did try multiple times with the 2.0.13 and could not get it to work at all.

[2019-10-11 21:10] Spomky commented on #218
Hi @hirvinen,

You are right this dependency is now useless and can be removed.
This will be done soon

[2019-10-11 21:20] Spomky commented on #217
If you want to migrate without any effort, you first have to update to the last version of the v1.x branch (1.3.9) and fix all deprecation notices you may have.
When done, you can go to v2.0.
This is explained [in the dedicated doc page](https://web-token.spomky-labs.com/migration/from-v1.x-to-v2.0). If you directly go to v2.0, you will undoubtedly face to lot of issues.

[2019-10-13 13:51] sv-db opened #219 "Load Ed25519 key"
Hi, im trying to implement your framework. I've got it all working upto loading a a Ed25519 key. When i generate a key trough ``` $key = JWKFactory::createOKPKey('Ed25519'); ``` everything works fine, but when I try to load a openssl generated PEM keyfile from disk i'm getting a Invalid argument exception with Unable to load the key.

Is there any way to do this?

[2019-10-13 20:28] Spomky commented on #219
Hi @sv-db,

Unfortunately, the conversion from PEM to JWK for Ed25519/X25519 and Ed448/X448 curves is not supported.
As the [RFC8410](https://tools.ietf.org/html/rfc8410) is now a proposed standard, this feature could be added.

[2019-11-01 07:07] Spomky commented on #218
Fixed in v2.1.0.

[2019-11-01 07:07] #218 closed

[2019-11-01 13:47] Spomky commented on #181
Fixed in `v2.1.0`

[2019-11-06 05:46] robbash opened #221 "`Easy\Load::jws(..)->run()` not verifying token with public key"
Hey @Spomky

I hope it's appropriate to raise this as a bug. Please advise if it's not and let me know how to achieve the verification with the `Easy` approach.

Cheers

**Describe the bug**
In the _Easy_ way, and when `run()` is executed there is verification the JWS with a keyset executed (see [here](https://github.com/web-token/jwt-framework/blob/v2.1/src/Easy/Validate.php#L61)), but the outcom

[2019-11-06 06:53] Spomky commented on #221
Should be fixed in `2.1.1`

[2019-11-06 22:58] robbash commented on #221
Excellent, thank you!

[2019-11-07 08:07] marc-mabe opened #222 "jwt-key-mgmt has multiple identical releases"
**Describe the bug**
The sub repository https://github.com/web-token/jwt-key-mgmt has multiple identical releases pointing to the exact same commit.

We are using dependabot and get automatic PRs on dependency updates but very often there is nothing changed.

**To Reproduce**
Steps to reproduce the behavior:
Check the releases of https://github.com/web-token/jwt-key-mgmt1

**Expected behavior**
I

[2019-11-07 09:52] Spomky commented on #222
Hi Marc,

The tags are automatically created when the main branch is updated and the sub-repositories are split, even if there is no change. I understand your concern and normally dependabot is able to [ignore minor versions](https://dependabot.com/blog/ignoring-major-version-bumps/).

[2019-11-07 10:57] marc-mabe commented on #222
Hi @Spomky,

Would it be possible to modify the automatic process updating sub-repositories in case of no changes?

About dependabot: I don't won't to simply ignore all minor releases as bugfixes can be important or do you mean that there will be never code changes in minor releases of sub repositories?

[2019-11-07 14:57] Spomky commented on #222
I am not sure it is possible. The tags of the sub-packages are all aligned with the tag of the main repository.

I agree, this is not a good solution. I created a feature request to explain the problem (see https://github.com/dependabot/feedback/issues/758). Do not hesitate to comment or vote up.

[2019-11-07 15:46] marc-mabe commented on #222
I just gave my 👍  to it :)

[2019-11-13 08:01] SHATCHGA opened #223 "Load::jws($token) -> throw Exception new EdDSA for Validate construct."
Hello, I post first time to GitHub.

Load::jws($token)  ->  throw Exception new Algorithm\EdDSA() for Validate construct.

Exception message is 'The extension "sodium" is not available. Please install it to use this method'.

I don't use Algorithm\EdDSA().
And I don't install extension "sodium".
But as of PHP 7.2.0 this extension is bundled with PHP.

Please check this code.

Best Regards.

[2019-11-14 07:31] unrave1ling opened #224 "Payload null"
I am migrating from spomky-labs/jose to v2.1.1.  For the JWE creation, my payload is always showing NULL even though i added withPayload($payload). This also happens for JWE loading. How can I get the full payload content which I used to when calling $jwe->getPayload() method? Thanks.

[2019-11-18 13:49] Spomky commented on #223
Hi @SHATCHGA,

Thank you for reporting this error.
In this case, the verification may be done on the function itself and not on the presence of the extension (to be confirmed, but the method name should be the same).

[2019-11-18 13:53] Spomky commented on #224
The JWE object is immutable and the method `withPayload` does not return the same object.
Therefore, you must re-assign the JWE object

[code]

[2019-11-27 03:49] devsi opened #226 "Create a jwt-core SerializerManager and SerializerManagerFactory"
**Is your feature request related to a problem? Please describe.**
When utilizing the factories I find I have to import and create separate variables for jwsSerializerManager and jweSerializerManager (+Factories). This can be kind of annoying and means I have to generate new factories for each serializer and manage them independently.

**Describe the solution you'd like**
In the same way Algorithm

[2019-11-27 03:50] devsi commented on #226
I'd be happy to create a PR that implements this. Although it would mean a 3rd implementation of these managers and factories until you remove support for them in jwt-signature and jwt-encryption.

[2019-11-27 07:36] Spomky commented on #226
Hi @devsi,

In general, the factories are not needed cases and with the given example it looks like it is superfluous. Except for the Symfony bundle that provides multiple container services or specific use cases, you don't need any factory.

Just for your information, it is planned to move the factories in the Symfony bundle as they are not really needed and creates confusion. The documentation w

[2019-11-27 08:06] devsi commented on #226
I actually like using the factories. In particular AlgorithmManagerFactory is incredibly useful. My scenario creates a JWS followed by a JWE using the JWS token as the payload for the JWE. By using the factory I can simply preload the necessary algorithms and reference them by name.

Additionally, when I receive a response from the consumed web service I can use the same instance of the AlgorithmF

[2019-11-27 15:54] saimon7 opened #227 "Symfony 5.0 support"
Do you plan to support symfony 5.0?

[2019-11-27 18:35] devsi opened #228 "AlgorithmManager add() is private. Could be public."
**Is your feature request related to a problem? Please describe.**
AlgorithmManager, if not using the factory, does not let me add Algorithms after initial instantiation.. `->add()` is private.

**Describe the solution you'd like**
Would be ideal if `add()` was made public to allow for this. Otherwise I am constrained to knowing all the algo's for both requests and responses at the time of manager

[2019-11-27 18:36] devsi commented on #228
This is just my opinion. Absolutely no worries if you think this is an unnecessary feature. In conjunction with removing the factories, I feel it would be useful. :)

[2019-11-27 18:49] devsi opened #229 "JWEBuilder, JWSBuilder, multiple AlgorithmManagers"
**Is your feature request related to a problem? Please describe.**
I have to clone the AlgorithmManager, or create a new instance with just the one algorithm when new-ing up JWEBuilder and JWSBuilder. Their signature is `JWSBuilder($algorithmManager, $algorithmManager, $compressionManager)`.

**Describe the solution you'd like**
If it is truly a manager, it should only be needed once, instead of h

[2019-11-27 18:50] devsi commented on #229
Again, apologies for creating issues! I'm just listing frustrations as I hit them while developing with the library.

[2019-11-28 19:25] lucasvanlierop commented on #227
Just ran into the same issue, can we help out porting it?

[2019-11-28 21:14] Spomky commented on #227
Hi,

Sorry for the late reply.
I’ve just created #230 for porting the framework to sf5.0

[2019-12-02 08:54] Spomky commented on #229
Hi @devsi,

Sorry for the late answer. Just to be clear with that: don't apology for creating issues! I really appreciate that. I really need such feedback to improve the framework, especially if it is related to UX/DX.

I concur with you. The use of 2 algorithm managers adds an unnecessary complexity and the constructor should be changed.

[2019-12-02 08:58] Spomky commented on #224
Closing as answered.
Feel free to open it again if this didn't solved your issue.

[2019-12-02 08:58] #224 closed, assigned to nobody

[2019-12-02 09:01] Spomky commented on #97
Closing as remaining algorithms will not be added.
This will be re-opened if needed

[2019-12-02 09:01] #97 closed

[2019-12-02 09:01] Spomky commented on #119
Not really useful at the moment.
Will be re-opened if needed.

[2019-12-02 09:01] #119 closed

[2019-12-02 09:02] Spomky commented on #124
Decision made to keep fgrosse/phpasn1.
Will be re-opened if needed.

[2019-12-02 09:02] #124 closed

[2019-12-02 09:05] Spomky commented on #180
Decision made to abandon that sub-project.
Unfortunately no time for that and a very limited impact from my POV...
Will be re-opened if needed.

[2019-12-02 09:05] #180 closed

[2019-12-02 09:06] Spomky commented on #217
Closing as answered.
Feel free to re-opened if needed

[2019-12-02 09:06] #217 closed

[2019-12-02 11:49] #227 closed, assigned to Spomky

[2019-12-02 23:35] koenig-dominik opened #231 "Output caught exceptions in JWSVerifier"
Currently exceptions caught in the following part:
https://github.com/web-token/jwt-framework/blob/08bbefe1efd90281f9f3825dd7b94ab8f3269d4f/src/Component/Signature/JWSVerifier.php#L100-L107
are just thrown away and we have no way to know what was wrong.
In my specific case I tried to find out why my code didn't validate on the server but was working just fine on my local installation, it turned ou

[2019-12-03 06:27] Spomky commented on #231
Hi @koenig-dominik,

Thank you for reporting me this issue.
Can you tell me how you instantiated the algorithms?
You should see that the GMP extension is not installed when [the algorithm object is created](https://github.com/web-token/jwt-framework/blob/08bbefe1efd90281f9f3825dd7b94ab8f3269d4f/src/SignatureAlgorithm/RSA/RSA.php#L32-L34).
I may have missed something by the way. Is it possible to s

[2019-12-03 07:31] koenig-dominik commented on #231
Hi @Spomky

Sure, here is how I did it:

[code]
Update: added claim checking

[2019-12-10 07:22] Spomky opened #233 "Tests, tests, tests"
**Is your feature request related to a problem? Please describe.**
There are lots of tests in each component folder, but the code is not correctly covered by these tests.
Infection is able to create mutants that can pass for more than 30% of the tested code.

**Describe the solution you'd like**
Tests should all be reviewed to reduce the "mutability" of the code.
* Isolation of the tests should be

[2019-12-10 07:29] Spomky commented on #231
Hi @koenig-dominik,

Thank you for the example.
I think I have found the error.
Can you tell me if it occurres with the v2.0 branch?

[2019-12-12 13:12] #223 closed, assigned to Spomky

[2019-12-13 09:11] HGButtenT commented on #203
I had a similar problem as described here: RS algorithms not beeing loaded on one of our specific servers, on the others it was working. The old version 1.3.8 is working fine on the specific server.

After a while of debugging I found out that the rsa algorithms are only autowired if the GMP extension is loaded:

[https://github.com/web-token/jwt-framework/blob/v2.1/src/Bundle/JoseFramework/Depend

[2019-12-18 03:42] eman1986 commented on #227
what's the ETA on this? still getting upgrade errors

[2019-12-19 12:05] Spomky commented on #221
Closing as done

[2019-12-19 12:05] #221 closed, assigned to Spomky

[2019-12-19 12:06] Spomky commented on #228
Closing as reading in #235.
Will be part of the next major release `v2.2`

[2019-12-19 12:06] #228 closed, assigned to Spomky

[2019-12-20 09:06] Spomky commented on #227
Hi @eman1986,

It is now merged and tagged `v2.1.2`

[2020-01-06 21:28] KouloukLeGrand opened #237 "The "Easy" Way not working with AAD JWTs"
Hi!

I am developing a REST API with Symfony 5.0.2. This API will be secured by OAuth 2.0 with Microsoft Azure Active Directory.

To achieve this, I use a Symfony authenticator. However, I have trouble implementing the "supports" method:

[code]

It keeps catching exception with message "Invalid signature", although the tokens I pass to it are accepted by Microsoft Graph. Even those don't work: ht

[2020-01-06 22:03] Spomky commented on #237
Hi,

Thank you for reporting this issue.
The code you posted shows that you don’t indicate what algorithms are allowed to be used.

Please replace

[code]

by

[code]

[2020-01-07 01:08] KouloukLeGrand commented on #237
Thanks @Spomky for your quick feedback. I didn't understand that algs() had to be specified.

However, I still can't get the access token to be validated: I still get Exceptions with message "Invalid signature". Can it come from the fact that I use the Symfony Local Web Server?
Otherwise, do you have any clue of what I should be doing?

As a reminder, here is my authenticator class :
[code]

And t

[2020-01-07 11:55] Spomky commented on #237
Hi,

can you use the following lines of code?

[code]

You just have to set manually the token and run it.
Please don’t use the sample tokens as the key used is not available in the current key set.

Thanks

[2020-01-07 14:10] KouloukLeGrand commented on #237
Thanks for your reply. Sadly, I still can't get my tokens to be validated 😭

Here is the current code:
[code]

And what the "echo log" is:
[code]

What can the problem be?

[2020-01-07 14:38] Spomky commented on #237
OK so from my POV the problem comes from the key set that does not contain the key used to sign the token.
Either you need to use the keyset from the default configuration (https://login.microsoftonline.com/common/.well-known/openid-configuration) or you defined custom keys for your application and you have to set the appid in the tenant URL (https://login.microsoftonline.com/estaca.fr/discovery/v

[2020-01-07 14:59] KouloukLeGrand commented on #237
I tried this option too, but it doesn't work as well.
I really don't know what to do now...

[2020-01-07 15:11] Spomky commented on #237
Can you send me a valid token [on that private channel](https://gitter.im/Spomky)?

[2020-01-07 15:41] KouloukLeGrand commented on #237
Done 😃

[2020-01-10 00:30] #237 closed, assigned to Spomky

[2020-01-14 17:32] neuquen opened #238 "InvalidArgumentException: The algorithm "RS256" is not supported"
**Describe the bug**
I'm trying to get the "Easy" install set up (using [this documentation](https://web-token.spomky-labs.com/easy)), but when I run the code I get the following exception:

    InvalidArgumentException: The algorithm "RS256" is not supported. in C:\...\web-token\jwt-core\AlgorithmManager.php:65

Here is my test code:

    $token = '[valid jwt access token]';
    $jwk = new JWK([

[2020-01-14 19:35] neuquen commented on #238
I noticed that in the `alg()` function of AbstractLoader.php, if the value passed in was an instance of `Algorithm` then `$this->algorithms` would be set (see: https://github.com/web-token/jwt-framework/blob/v2.1/src/Easy/AbstractLoader.php#L208), so I decided to install the signature algorithm plugin mentioned on [this page](https://web-token.spomky-labs.com/components/signed-tokens-jws/signature

[2020-01-14 19:51] Spomky commented on #238
That was the problem. Indeed to use an algorithm, you must install the associated package.
This is [mentioned in the doc](https://web-token.spomky-labs.com/easy) (“Step 1”), but it looks like it is not clear enough.
This section will be updated as well as the error message.

With the RSA package installed, the line  `->alg('RS256')` should work as expected.

[2020-01-14 20:00] neuquen commented on #238
@Spomky Ah, yep.  You are correct.  Passing in a string works now too.  Thanks!

I glossed over step 1 without even noticing.  Even just linking to the signature algorithms page would help clarify that step.

[2020-01-15 06:50] Spomky commented on #238
Great!
The documentation has been updated accordingly.
I let this issue opened as a reminder for the error messages

[2020-01-15 10:29] Bensemer opened #239 "jwt-bundle - v2.1.4 - declaration of JoseCollector::collect incompatible"
The declaration of JoseCollector::collect is incompatible with the declaration of  DataCollectorInterface::collect in Symfony 5.

When I try to require the jwt-bundle on my fresh symfony 5(.0.2) project I get the error message

This error prevents the installation of the bundle.

The JoseCollector should use *Throwable* instead of Exception.

[2020-01-17 09:55] Spomky commented on #239
Hi @Bensemer,

This issue has already been fixed by #236 but not yet tagged.
This will be done by the end of the week.

[2020-01-17 09:55] #239 closed, assigned to nobody

[2020-01-20 17:26] tomme87 opened #240 "Jose\Easy\Validate::run() does not check mandatory claims"
**Describe the bug**
When using "The Easy Way" and setting mandatory claims, it has no effect.

**To Reproduce**
[code]

**Expected behavior**
A `MissingMandatoryClaimException` to be thrown.

**Additional context**
In the `run()` method it does `$claimChecker->check($jwt->claims->all())`, looks like it needs to do `$claimChecker->check($jwt->claims->all(), $this->mandatoryClaims)`

Looks like the

[2020-01-23 20:49] Spomky commented on #240
Hi,

Thank you for this issue.
This should be correctly checked with the last version `v2.1.5`.

Feel free to re-open if the issue is still there
Regards.

[2020-01-23 20:49] #240 closed, assigned to nobody

[2020-01-29 09:07] hi2rashid opened #242 "Message: The algorithm "PS256" is not supported."
**Describe the bug**
Message: The algorithm "PS256" is not supported.

**To Reproduce**
Steps to reproduce the behavior:

        use Jose\Component\Core\JWK;
        use Jose\Easy\Build;
        use Jose\Component\KeyManagement\JWKFactory;

            $time = time();
            $jws = Build::jws() // We build a JWS
                ->exp($time + 1800) // The "exp" claim
                ->iat($ti

[2020-01-29 09:22] hi2rashid commented on #242
Solved it now by installing the Algorithms package.

`composer` require `web-token/jwt-signature-algorithm-rsa`

https://web-token.spomky-labs.com/the-components/signed-tokens-jws/signature-algorithms

Now new Error

Message: Jose\Component\Signature\Algorithm\PS256 requires gmp extension

[2020-01-29 10:35] Spomky commented on #242
Hi,

The GMP extension shall be installed on your platform.
I found [that answer on SO](https://stackoverflow.com/questions/51097508/how-to-install-php-gmp-on-macos-high-sierra) that could help you.

[2020-01-30 09:07] hi2rashid commented on #242
I followed this https://mycodde.blogspot.com/2020/01/install-php-gmp-extension-in-mamp-2020.html and i was able to get it installed.

[2020-01-30 09:07] #242 closed, assigned to nobody

[2020-01-30 09:15] Spomky commented on #242
Excellent! I am happy to see that this is now solved.
BR.

[2020-02-02 06:37] hi2rashid opened #244 "AUD is represented in array not as single string"
**Describe the bug**

**To Reproduce**
[code]

[code]
**Expected behavior**
{
  "exp": 1580627149,
  "iat": 1580625349,
  "jti": "SOMETHING1",
  "iss": "SOMETHINGDIFF",
  "aud":  "SOMETHINGAUD", //Single Value
  "sub": "SOMETHING3"
}
**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/10250923/73604305-7697d500-459f-11ea-9

[2020-02-02 06:55] Spomky commented on #244
Hi @hi2rashid,

This is not a bug. This representation is the normal behaviour as specified in the [RFC7519 section 4.1.3](https://tools.ietf.org/html/rfc7519#section-4.1.3)

   sensitive strings, each containing a StringOrURI value.[…]

The RFC allows implementations to support single string value:

   special case when the JWT has one audience, the "aud" value MAY be a
   single case-sensitive s

[2020-02-02 06:55] #244 closed, assigned to Spomky

[2020-02-02 08:29] hi2rashid commented on #244
The Thirdparty service is supporting only single string in the `aud`

So I ended up modifying the library this way

FIle: /vendor/web-token/jwt-easy/JWSBuilder.php
[code]

[2020-02-02 08:40] Spomky commented on #244
You can use the method `claim` instead:

[code]

[2020-02-02 08:52] hi2rashid commented on #244
@Spomky That Worked as expected. :)

[2020-03-15 18:48] reedy opened #245 "Add .gitattributes to v1.3"
Hello!

Are the v1.x/v1.3 branches still supported/maintained? (I had a look, but couldn't see anything obviously documented to say either way) If so, is it possible to get the .gitattributes from v2.x/v2.1 backported/copied into v1.x/v1.3? Then obviously some point releases tagged to get them out?

I don't mind making a PR if it's wanted/accepted into the branch :)

We're looking at using https:/

[2020-03-20 07:11] Spomky commented on #245
Hi @reedy,

Thank you for your patience. The v1 branch is not supported anymore, but the modification will be helpful for projects that still use it.
No objection for the integration of the .gitattributes file.

[2020-03-20 13:20] reedy commented on #245
Cool, thanks! I'll have a look later today

[2020-03-27 19:17] #245 closed, assigned to nobody

[2020-03-31 15:40] thomasvargiu opened #248 "Extract Jose\Easy in different library"
Hi,

it would be nice to extract the `Jose\Easy` classes in a saparate library. Useful for projects (no Symfony) and libraries that want to use these useful classes.

[2020-03-31 15:42] thomasvargiu commented on #248
Sorry, I've just saw it.

[2020-03-31 15:42] #248 closed, assigned to nobody

[2020-03-31 15:43] Spomky commented on #248
It is already done. See https://github.com/web-token/jwt-easy

[2020-04-04 19:30] thomasvargiu opened #249 "mb_str_split is only available in PHP 7.4"
`mb_str_split` function is used in `Jose\Component\Encryption\Algorithm\KeyEncryption\Util\RSACrypt` but this function is only available in PHP 7.4 and the polyfill is only available with `symfony/polyfill-mbstring`, so I think we should include the polyfill in the library.

[2020-04-07 11:58] Spomky commented on #238
Closing as answered

[2020-04-07 11:58] #238 closed, assigned to Spomky

[2020-04-07 12:22] Spomky commented on #245
Tagged `v1.3.10`

[2020-04-07 12:28] reedy commented on #245
Thanks!

Rough estimate is it saved ~7500 "lines" (out of just over 18000)

[2020-04-07 12:38] Spomky commented on #245
In addition to that, I read an interesting paper from [the PHP CC](https://thephp.cc/news/2020/02/phpunit-a-security-risk) where PHPUnit was accessible on production server and therefore creates a critical security issue.
By removing non-necessary files, .gitattributes also prevent such big issue.

[2020-04-07 12:44] reedy commented on #245
Yeah... I shall leave my "thoughts" on that (and the composer) one alone. But yes, positive!

[2020-04-12 15:24] ti0rafa opened #251 "Q: Create RSA Key with passphrase"
Hello,

I didn't saw an example on how to create an RSA Key with a passphrase, is this posible?.

Regards

[2020-04-12 17:02] Spomky commented on #251
Hi @ti0rafa,

With the JWK (JSON Web Key) format used by the library, there is no passphrase protection.

[2020-04-12 18:13] ti0rafa commented on #251
Thank you @Spomky

[2020-04-12 18:13] #251 closed, assigned to Spomky

[2020-04-20 10:36] bogdaniel opened #252 "jwt keyset."
Hi there, I'm using the symfony bundle with the console and jose bridge on my app.
I was wondering how can I use the console to generate a key set for SL_JOSE_BRIDGE_SIGNATURE_KEYSET and SL_JOSE_BRIDGE_ENCRYPTION_KEYSET I've been reading the docs for two days so far and I didn't manage getting a working keyset.
I'm always stuck with this error Invalid key or key set.

[2020-04-20 10:55] Spomky commented on #252
Hi,

The recommended way is to use the [PHAR Application](https://web-token.spomky-labs.com/console-command/phar-application).

The available commands are the same as the ones listed in the [Console section](https://web-token.spomky-labs.com/console-command/console).

[2020-04-20 11:51] bogdaniel commented on #252
Thanks for the advice I will use the phar application instead.
Also for this
key_encryption_algorithm: 'A256GCMKW' # The key encryption algorithm
What command should I use to generate with  that encryption ?

[2020-04-20 14:30] Spomky commented on #252
For the `A256GCMKW`, you will need a shared key i.e. a key of type `oct`.
Hereafter the command to generate such key. It also indicates the usage (`--use`), limits the key for this algorithm (`--alg`) and create a random key ID (`--random_id`).

`./jose.phar key:generate:oct 256 --use enc --alg A256GCMKW --random_id`

[2020-04-20 16:02] bogdaniel commented on #252
Thanks I was close with the key type but I didn't know from the documentation about --use enc --alg --random_id ( or maybe I don't know how to use the docs ).
I presume that for an rsa512 key the command that I can use would be
`./jose.phar keyset:generate:rsa 512 --use sig --alg RS512 --random_id`

[2020-04-20 16:10] Spomky commented on #252
This is [mentioned in the doc](https://web-token.spomky-labs.com/console-command/console#key-generators), but maybe not so clear. Let me know if you have an way to improve it (PRs are welcome).

The `rsa512` algorithm does not exist. It should be RS256, RS384 or RS512.

For shared secret, the the key size should be at least the hash size i.e. for HS256=256 bytes, HS384=384 bytes...

For RSA key, t

[2020-04-20 17:54] bogdaniel commented on #252
[code]
In the end seems to work like this.
Yes in the docs that i found with 512, 256 and I was thinking that is how it should be used. Once I've started working with normal length 2048 4096 everything worked smooth.
Maybe this should be changed in the docs

[2020-04-20 17:58] Spomky commented on #252
4096 bytes for a shared key is way too much. It will takes too much time to compute the signature and will be counter productive. You should use at least 256 bytes and not more than 512 bytes.
4096 bytes for the RSA key is fine.

Noted for the documentation. This will be reviewed.

[2020-04-20 18:45] #252 closed, assigned to nobody

[2020-04-28 10:19] DavidSporer opened #254 "Add documentation for GZip compression."
Hi,

the documentation mentions that the framework supports GZip compression but it doesn't mention how to enable it: https://web-token.spomky-labs.com/v/v1.x/#supported-compression-methods.
I hoped that there would be a GZ class or something similar to the Deflate class but there isn't such thing.
Could you please explain how to use GZip compression when creating JWEs?

Thanks,
David

[2020-04-28 11:10] Spomky commented on #254
Hi @DavidSporer,

Non-standard compression methods have been removed since v2.x.
However, it is quite easy to add it again for your project. The compression method needs to implement `Jose\Component\Encryption\Compression\CompressionMethod`.

You can copy/paste [the deprecated class](https://github.com/web-token/jwt-framework/blob/v1.3.10/src/Component/Encryption/Compression/GZip.php) and adapt it

[2020-04-28 11:12] DavidSporer commented on #254
Wow, @Spomky - thanks for that blazing-fast response :-)
Much appreciated! Keep up the great work (Huawei seems to be using GZip compression so it's still needed...).

[2020-04-28 11:12] #254 closed, assigned to nobody

[2020-05-10 12:37] slavino commented on #249
Exactly - I did git the issue while trying to deploy this solution on hosting with PHP 7.3. And I see that this was not the only issue and there are also dependencies to Symfony which makes it subproject of that framework. What a pity.

[2020-05-10 13:22] Spomky commented on #249
Hi,

This should be fixed with `v2.1.6`.
Let me know if the issue still exist with this version.

[2020-05-10 13:25] Spomky commented on #249
@slavino what are the deps you see that could lead to an error during the installation or the use of the components?

The use of `symfony/*` components does not mean it is a sub-project of Symfony.
If you install the whole framework you will have to install the bundle and all these `symfony/*` components.
It is preferable to install only what you need. Components other than the Symfony bundle and

[2020-05-11 08:30] slavino commented on #249
Mea culpa, I didn't verify the dependencies of `symfony/polyfill-mbstring` . The release v2.1.6 solved the issue with mb_str_split.

The last issue is that Windows has difficulties with OpenSSL
`JWKFactory::createRSAKey(
                     4096, // Size of the key
                     [
                         'alg' => 'RSA-OAEP-256', // This key must only be used with the RSA-OAEP-256 algorith

[2020-05-11 12:13] Spomky commented on #249
What you can do is to create the private key on another env. or with another tool and load it with [JWKFactory::createFromKeyFile](https://web-token.spomky-labs.com/the-components/key-jwk-and-key-set-jwkset/key-management#from-a-key-file).

[2020-05-13 12:43] bogdaniel opened #255 "Using index with kid gives error"
I have a set of keys generated for the lexik jose bridge bundle that I would to use in another app that implements only jwt-framework library but I discovered that if I set the index key as a string I'm not allowed. Is there any way to load those keys using jwt-framework? Seems that from the configuration the support is limited only to integer types.
If I used kid in my keys I will get that the in

[2020-05-18 05:27] tommygnr opened #257 "The gmp extension is still required when it shouldn't be"
**Describe the bug**
A [bad merge](https://github.com/web-token/jwt-framework/commit/339c88ab29b7a1476ba1a9a6bb546ebf37e9a248) has resulted in the `composer.json` for `web-token/jwt-signature-algorithm-rsa` containing `ext-gmp` in both `require` and `suggest` when in fact it should just be in `suggest`.

**To Reproduce**
Steps to reproduce the behavior:
View the offending composer.json file in the

[2020-05-20 08:03] siva-fstack opened #258 "Unable load encrypted/password provided RSA private key"
Unable to load RSA private key when passphrase provided for private key.

**To Reproduce**
Steps to reproduce the behavior:

$pk_Generate = openssl_pkey_new(array(
        'private_key_bits' => 2048,
        'private_key_type' => OPENSSL_KEYTYPE_RSA
    ));

    openssl_pkey_export($pk_Generate, $pk_Generate_Private, '123456'); // we pass 2nd argument as reference

    $pk_Generate_Details = opens

[2020-05-25 15:50] cacahouwete opened #259 "UrlKeySetFactory implementation with Httplug, Nyholm, Symfony http client"
**Describe the bug**
I just installed httplug with symfony http client and Nyholm to try to use Key Set Management From A X5U (X509 Certificates Url).
evrythings works fine until I put

[code]
I have to following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install in a symfony(^4.4) project :
[code]
2. Use following basic configuration for httplug:
[code]
3. Jose config:
[c

[2020-05-29 12:11] Spomky commented on #259
Your PSR-7 request factory service seems to be `Psr\Http\Message\RequestFactoryInterface`, not 'httplug.message_factory'.

The following configuration should work fine:

[code]

[2020-05-29 12:18] Spomky commented on #257
That's correct.
This will be fixed ASAP

[2020-05-29 20:22] #257 closed, assigned to Spomky

[2020-05-29 20:22] #258 closed, assigned to nobody

[2020-05-29 20:25] Spomky commented on #249
Closing as fixed

[2020-05-29 20:25] #249 closed, assigned to Spomky

[2020-05-29 20:25] Spomky commented on #257
Hi,

This should be fixed with `v2.1.7`.
Let me know if the issue still exist with this version.

[2020-05-29 20:25] Spomky commented on #258
Hi,

This should be fixed with `v2.1.7`.
Let me know if the issue still exist with this version.

[2020-05-29 20:46] #255 closed, assigned to nobody

[2020-05-29 20:47] Spomky commented on #255
Hi @bogdaniel,

This is a terrible mistake made months ago: the JWKSet object uses either integers or KID if available when a key is stored in the keyset object.
The RFC indicates that the keyset is just a list and thus indices should only be integers.

The version `v2.1.8` should solve that. Now the JWKSet object will only deal with integers as index.

[2020-05-30 20:04] ChadSikorra commented on #252
I ran into this same issue using the jose bridge in Symfony. I started messing with the phar app but couldn't seem to get the parameters right. I only happened to stumble across this by searching the repo for other people attempting to generate the keys as well.

It would probably be worth it to have an example set of commands or note on the jose bridge for how to actually generate the key set nee

[2020-05-30 21:56] Spomky commented on #252
Hi @ChadSikorra,

I added examples in the documentation (see https://github.com/Spomky-Labs/lexik-jose-bridge/blob/v3.0/Resources/doc/Configuration.md#creation-of-the-keys).
I hope it will be useful now.
Just ask if you see something wrong or not clear enough.

Regards

[2020-05-31 02:49] ChadSikorra commented on #252
@Spomky Thanks! That's exactly what I was looking for. I was able to generate the key set and it all makes much more sense now after reading that. Got it working with my project pretty quick. Thanks again for the quick response, and great work on all these libraries.

[2020-06-05 12:43] bogdaniel commented on #255
Thank you for the fix.

[2020-06-12 15:13] cicnavi commented on #231
Hi,

thank you for your great work. I just wanted to confirm GMP extension issue with another case using web-token/jwt-framework:^2.1.

I used the 'Easy way' for JWS example from the docs: https://web-token.spomky-labs.com/the-easy-way/easy#jws-creation-and-verification and was getting 'Invalid signature' error, but the real reason was GMP extension missing.

How about adding the extension as a re

[2020-06-12 16:54] Spomky commented on #231
Hi @cicnavi and thank you for this message,

Ok it is clear for me know there is something wrong with the error messages.
I will improve that and make for this is correctly spotted by the logger.

For v2.x, the algorithms have their own package. Maybe some of them should also be split as well to avoid this type of error and improve the easy component.

[2020-06-29 07:31] #155 closed

[2020-06-29 07:31] #145 closed

[2020-06-29 07:32] #222 closed, assigned to Spomky

[2020-06-29 07:32] #226 closed, assigned to Spomky

[2020-06-29 07:32] #233 closed, assigned to Spomky

[2020-06-29 07:32] #203 closed

[2020-07-29 19:07] ionparticle opened #264 "Non-integers should be allowed for exp, nbf, iat"
I had to interact with an app that decided to use a float for their exp. Turns out this is technically valid. RFC7519 specifies exp, nbf, iat as [NumericDates](https://tools.ietf.org/html/rfc7519#page-6), and it defines NumericDates as allowing non-integers:

Suggest combining `is_float()` with `is_int()` or maybe use [is_numeric()](https://www.php.net/manual/en/function.is-numeric.php):
https://g

[2020-07-29 19:43] Spomky commented on #264
Hi @ionparticle,

You are right, non-numeric values can be used for claims `exp`, `nbf` or `iat`.
However to avoid spaghetti code for less common representations of these claims, the provided Checker objects only accept an integer.
Nevertheless, you are free to implement your own object with that specific use case.
When done, you just have to use this custom object instead of the provided one.

[c

[2020-07-29 20:19] ionparticle commented on #264
Oh no, my issue isn't with non-numeric values (i.e. strings). The way I read the spec, strings aren't allowed anyways. The issue is with floating point values, e.g.: {"exp": 1596044815.83}

[2020-07-30 16:29] VincentLanglet opened #265 "Algorithm should be autoloaded when using web-token/jwt-bundle"
I'm certainly missing something.

But when I try the doc https://web-token.spomky-labs.com/the-symfony-bundle/signed-tokens/jws-creation#jws-builder-factory-service with `RS256`, I get
[code]

I installed `web-token/jwt-bundle` and `web-token/jwt-signature-algorithm-rsa`, but seems like there is something more to do... Is there some config to add in order to defined supported algorithms ?

[2020-07-31 08:51] VincentLanglet commented on #265
I had to add
[code]

Shouldn't the default algorithm loaded by default ?

[2020-08-01 11:01] Spomky commented on #265
Hi @VincentLanglet,

Thank you for this bug report. I think I have found the error.
Can you tell me if the GMP extension is available on your platform ? If not, I guess this this is the reason why the algorithm is not correctly loaded.
I will that ASAP.

Regards.

[2020-08-01 11:04] VincentLanglet commented on #265
Yes I have the gmp extension.

But I still had to add all the algorithm I used in my code in the config.
[code]

[2020-08-01 11:29] VincentLanglet commented on #265
I just tried again, and I think you're right.

This is what happen
- I installed the library
- I tried to used the algorithms.
- I had to add them in my config because I had the error message `The algorithm with the alias "RS256" is not supported.`.
- After that, I get an error because I didn't have the `gmp` extension.
- I installed the gmp extension
- Now I can remove the config I created becaus

[2020-08-01 12:03] Spomky commented on #265
I’m happy to read that the error comes from that point.

This will be solved soon with #263. This PR will remove GMP as a mandatory dependency.
You will be free to install GMP (fastest), BCMath (fast) or nothing (really slow…).

[2020-08-01 12:11] VincentLanglet commented on #265
Oh ! I'm really interested by this PR. This could avoid us to install gmp on our vagrant, on docker ci and on our prod server.

[2020-08-04 12:41] #259 closed, assigned to nobody

[2020-08-15 11:19] faizanktk opened #267 "Class 'Jose\\Component\\Core\\Converter\\StandardConverter' not found"
Class 'Jose\\Component\\Core\\Converter\\StandardConverter' not found
I got this error. So from where i download this file or directory.
Send link or add to composer
Thanks

[2020-08-15 11:27] Spomky commented on #267
This class has been deprecuted in v1 and removed in v2.
https://github.com/web-token/jwt-framework/blob/v1.3/src/Component/Core/Converter/StandardConverter.php#L17

[2020-08-15 11:27] #267 closed, assigned to nobody

[2020-08-18 17:48] #231 closed, assigned to Spomky

[2020-08-22 11:05] #265 closed, assigned to Spomky

[2020-08-22 13:22] Spomky commented on #265
Hi @VincentLanglet,

Thank you for your patience I was waiting for [brick/math v0.8.16](https://github.com/brick/math/releases/tag/0.8.16)
This is now tagged `v2.2.0`

[2020-08-22 13:25] VincentLanglet commented on #265
Nice !

[2020-08-26 10:05] VincentLanglet opened #272 "Mandatory claims should not be null."
**Describe the bug**
Hi @Spomky, I recently used the ClaimCheckerManager in my project. If I required a claim `context`, I personally expect that
[code]
is reported as invalid.

**Additional context**
The check is made https://github.com/web-token/jwt-framework/blob/v2.2/src/Component/Checker/ClaimCheckerManager.php#L82

I think that changing `$claims` by `array_filter($claims)` will fix the issue

[2020-08-30 13:00] Spomky commented on #272
You are right, claims with a `null` value shouldn’t be rejected.
I will correct this.

[2020-09-02 07:55] chenj100 commented on #249
Hello @Spomky,

Seems like this issue appears in 2.2.2 again, simple code to reproduce
[code]

Stack trace

[code]

BTW 2.1.9 doesn't have this error.

Thank you!

[2020-09-16 14:04] Olvikolvi opened #274 "JWE payload is null"
Trying to load JWE using easy-way, but don't figure out why it gives this error? Token should be fine.

$jwt = Load::jwe($token)
->algs(['RSA-OAEP'])
->encs(['A128CBC-HS256'])
->exp()
->iat(1000)
->nbf()
->key($jwk)
->run()
;

PHP message: PHP Fatal error:  Uncaught TypeError: Argument 1 passed to Jose\Component\Core\Util\JsonConverter::decode() must be of the type string, null given, called in xx

[2020-09-25 09:21] gisostallenberg opened #275 "Allow Throwable in Collector interface"
**Describe the bug**
The `JoseCollector::collect`'s signature was changed to be compatible with Symfony 5, but while passing the exception (in case it is a `Throwable`) to the collectors this results in another error 'Argument 4 passed to Jose\Bundle\JoseFramework\DataCollector\AlgorithmCollector::collect() must be an instance of Exception or null, instance of TypeError given'.

I suggest widening

[2020-09-25 09:46] gisostallenberg commented on #275
You can choose one of the PR's as a solution.

[2020-09-29 21:15] laszlopokoradi commented on #275
I am +1 on this issue. I "solved" the problem similarly to PR#276 Allow to pass a `Throwable`.

[2020-09-29 21:29] Spomky commented on #275
Done and available in `v2.2.3`

[2020-09-29 21:29] #275 closed, assigned to nobody

[2020-09-29 21:45] Spomky commented on #274
Hi @Olvikolvi,

I am not sure to clearly understand where the issue comes from.
Hereafter an example you can adapt on your environment (it uses different algs):

[code]

[2020-09-29 22:09] Spomky commented on #272
Hi @VincentLanglet,
Actually I revised my mind.

The parameter `$mandatoryClaims` is only used to verify that the claim is present.
It is not designed to check the value of that claim.

The value is verified by a ddicated ClaimChecker object.
So `['context' => null]` could be perfectly valid for some use cases and there is no reason to reject the token

[2020-09-29 22:18] Spomky commented on #264
`is_int`/`is_float` are now used for these objects.
Available in `v2.2.4`

[2020-09-29 22:18] #264 closed, assigned to Spomky

[2020-09-30 08:45] gisostallenberg commented on #275
Thanks!

[2020-09-30 09:56] VincentLanglet commented on #272
I understand, but I think that most of the time `null` won't be a valid use case.

WDYT about providing the ClaimChecker checking for non-nullable value in this library ?

[2020-10-01 11:57] Olvikolvi commented on #274
Hi,

I don't say its bug because when I create jwe and token as you explained it works, but when I receive token from 3rd party authentication server (big company with many clients) it gives this php-error "null given" mentioned above directly to error.log (not even Exception). When dumping jwe-object inside Decrypt.php run() it seems to be ok with all ciphertext and headers (sharedProtectedHeader

[2020-10-05 05:57] Spomky commented on #274
Hi,

Excuse me for the misunderstanding.
Can you send me samples and keys to help me to dig into that issue? (in private if it contains sensitive data)

[2020-10-05 12:24] Olvikolvi commented on #274
You got mail :)

[2020-10-05 20:27] vansari opened #278 "Util\RSAKey differs to orginal RSA Key with openssl"
Hi,

first: Thanks a lot for this awesome Framework.

I have a problem that I can't use an external private Key.
I created the Key with following command:

`openssl genrsa -out opensslKey.pem 4096`
I created a JWK with the JWKFactory from a rsa key file but if i tried to decrypt an example jwe I received a null value from payload. After debugging the Framework I think I have found an Issue with ex

[2020-10-06 06:28] vansari commented on #278
Hi again,

I think this Ticket can be the reason of the issue https://github.com/web-token/jwt-framework/issues/274#issuecomment-702084596
The Exception is not thrown if CEK decrypt wasn't successful.
And the CEK decryption seems do be not working with keys which was created with openssl commandline tool.

Because of that you return a null value for the payload instead of the expected payload.

Re

[2020-10-06 06:31] vansari commented on #274
Hi @Spomky ,

is it possible that reason for this ticket can be the question/bug which I have opened yesterday evening?!
https://github.com/web-token/jwt-framework/issues/278#issue-715139006

Kind Regards

[2020-10-06 06:44] Spomky commented on #274
Thank you.
Let me some time to understand what's going on.

@vansari: yes it could be linked to that issue. The reason why the RSA key used internally is different from the one from OpenSSL is that some useless information are stripped from it (e.g. additionnal prime numbers). But I don't exclude a but in the way the RSA key is rebuilt.

[2020-10-06 08:28] vansari opened #279 "HeaderChecker cannot use JWT from jose-easy"
Hi,

have created a little test to create a JWE with Jose\Easy and decrypt it with the same. The result matches the expected.
But what I can't do is to use the HeaderCheckerManager. The method 'check' of them expects an Object which implements the Interface Jose\Component\Core\JWT but the Load::jwe returns a \Jose\Easy\JWT which doesn't implements the Interface above.

Is it a Bug or is that okay?

[2020-11-29 10:49] #272 closed, assigned to Spomky

[2020-11-30 09:57] melanger opened #290 "JWKSet::createFromKeys does not exist"
**Describe the bug**
The [docs](https://web-token.spomky-labs.com/the-components/key-jwk-and-key-set-jwkset/key-set-management) mention a method `JWKSet::createFromKeys(array $keys)`, which I cannot find in class [JWKSet](https://github.com/web-token/jwt-framework/blob/v2.2/src/Component/Core/JWKSet.php).

**Expected behavior**
Either the method should exist or the docs should not mention it.

[2020-12-07 21:06] wapacro opened #291 "Jose\Easy\Validate::run() does not check mandatory claims"
**Describe the bug**
When using "The Easy Way" and setting mandatory claims, it has no effect. The same has been reported and fixed for v2.1 in #240 - but the bug was reintroduced in v2.2.

| v2.1                                                                                                               | v2.2

[2020-12-07 21:13] #291 closed, assigned to nobody

[2020-12-07 21:16] Spomky commented on #291
Many thanks.
Will be tagged `v2.2.6` soon.

[2020-12-12 11:27] #279 closed, assigned to nobody

[2020-12-23 09:53] jbelien commented on #290
Same for `JWK::create()` ; see https://web-token.spomky-labs.com/the-components/key-jwk-and-key-set-jwkset/key-management

It's mentioned in ["List of deprecation"](https://web-token.spomky-labs.com/migration-1/migration/from-v1.x-to-v2.0#list-of-deprecations) but it still appears in the documentation.

[2020-12-23 10:50] jbelien opened #294 "HMAC: Invalid key length."
**Describe the bug**

Hello, I'm trying to upgrade to version 2.2.

Following documentation,
I replaced ([source](https://github.com/geo6/geocoder-php-geo6-provider/blob/master/Geo6.php#L332-L336))
[code]
by
[code]
and replaced ([source](https://github.com/geo6/geocoder-php-geo6-provider/blob/master/Geo6.php#L338-L358))
[code]
by
[code]

but I now have the following error : _"InvalidArgumentExcept

[2020-12-23 11:07] Spomky commented on #290
Hi,

Indeed the documentation is not up to date.
You should use the constructor `new JWK([...]);` instead of this method.

[2020-12-23 11:11] Spomky commented on #294
Hi,

The problem comes from the size of your key `My Secret Key`.
As per the [RFC7518 section-3.2](https://tools.ietf.org/html/rfc7518#section-3.2), the key size for the SHA-256 function must be at least 256 bits.

   "HS256") or larger MUST be used with this algorithm.  (This
   requirement is based on Section 5.3.4 (Security Effect of the HMAC
   Key) of NIST SP 800-117 [NIST.800-107], which sta

[2020-12-23 13:14] jbelien commented on #294
Oh, you're absolutely right !

I got confused because it was working just fine with version `1.x` (but apparently it didn't check if the key was valid or not).
Also got confused with the example in the [documentation](https://web-token.spomky-labs.com/the-components/key-jwk-and-key-set-jwkset/key-management#octet-string) where I understood that any string (like `My Secret Key`) could be used.

Is

[2020-12-23 13:58] jbelien commented on #290
Documentation has been updated ; this can be closed 🎉

[2020-12-25 21:03] Spomky commented on #290
Great! Many thanks to you.

[2020-12-25 21:03] #290 closed, assigned to Spomky

[2020-12-30 17:53] Spomky commented on #294
Correct.I will update the documentation as it is not really clear on that point.

[2021-01-23 23:33] jayenashar commented on #238
any thoughts on changing the error message?  maybe printing supported algorithms, or if there are none, asking the user to check if the appropriate package is installed?

[2021-02-13 01:14] #278 closed, assigned to Spomky

[2021-02-21 07:16] #274 closed, assigned to Spomky

[2021-03-08 00:39] #294 closed, assigned to Spomky

[2021-03-10 19:50] drupol opened #301 "Unable to verify a token using ES256 signature encoding"
Hello,

I'm trying to decode and verify a token signed using `ES256` algorithm.

So far I tried many ways and I'm not able to do such a simple thing. I also checked the documentation, but I'm confused in between `JWSVerifier` and `JWTVerifier`. Which one to use, and how to use properly in my use case?

I quickly made a [gist](https://gist.github.com/drupol/0123d027b5151550b719ac44f50cec86) contain

[2021-03-17 11:29] drupol commented on #301
Ok, I was missing the package `web-token/jwt-signature-algorithm-ecdsa`.

[2021-03-17 11:29] #301 closed, assigned to nobody

[2021-03-17 18:39] Spomky commented on #301
Hi @drupol,

Sorry for the late-and-now-useless-answer. Past days, I was focused on burning servers and datacenters and data replication.

`JWSVerifier` is dedicated to JWS, while `JWTVerifier` ... it looks like it is not part of this framework.
Hereafter a commented example:

[code]

[2021-03-17 18:42] drupol commented on #301
Thank you very much, editing my previous message and remove my sarcasm !

Good luck with your work!

[2021-03-18 13:01] stephanvierkant opened #302 "Brick\Math\Exception\NumberFormatException : "4" is not a valid character in base 2."
https://github.com/web-token/jwt-util-ecc/commit/a7ec5beb004a171f0305f8ba771d8b0ee9823839 breaks [minishlink/web-push](https://github.com/web-push-libs/web-push-php) (using v6.0.3).

Stacktrace:
[code]

[2021-03-18 15:59] mirkojoshua commented on #219
Hi
First of all, Thanks for your great work!
I am interested on this feature. In particular the load of PEM file for X25519 key pairs.
There are any update?

[2021-03-24 12:36] stephanvierkant commented on #302
@Spomky I've no idea how to fix this, but please let me know if I can help. Does a reproducible example help? Or maybe you can point me in the right direction so I can try to fix this?

[2021-03-24 14:00] #302 closed, assigned to Spomky

[2021-03-24 14:13] Spomky commented on #302
Hi,

This should be fixed with the new ``v2.2.10`.

I take the opportunity to tell you that I started working on [web-push](https://github.com/Spomky-Labs/web-push). The project is not yet marked as stable, but I have not much changes before the first release.
This new project is based on the work I proposed in the PR https://github.com/web-push-libs/web-push-php/pull/302.
You may be interested in

[2021-03-24 15:32] stephanvierkant commented on #302
Thanks! I'm using PHP 8 and v2.2.10 works for me.

[2021-03-30 09:40] stollr opened #304 "Getting 'Undefined offset: 1' in KeyConverter"
**Describe the bug**
I am getting this notice: `Undefined offset: 1 in file vendor/web-token/jwt-key-mgmt/KeyConverter/KeyConverter.php at line 225`

**To Reproduce**
I have generated a key by my own. I suspect it was a wrong format.

The backtrace looks like this (I have only a json backtrace at hand, I hope it is okay):
[code]

**Expected behavior**
I expect to get an exception with a (more or l

[2021-03-30 16:01] Spomky commented on #304
Hi,

Yes sure we can add better exception messages.
Can you provider a sample of homemade key ?

Regards.

[2021-03-31 07:52] stollr commented on #304
I have used this command to create the key (now I know, this was the wrong format, but anyway):

    openssl genpkey -algorithm RSA \
      -pkeyopt rsa_keygen_bits:2048 \
      -pkeyopt rsa_keygen_pubexp:65537 | \
    openssl pkcs8 -topk8 -nocrypt -outform der > rsa-2048-private-key.p8

I found this advice [here](https://stackoverflow.com/a/66515760/1119601).

The result is a binary key. This is

[2021-03-31 08:05] stollr commented on #304
If an invalid key is recognized, maybe it would be helpful to mention (in the exception message) which format should be used to generate a valid key. This would help crypto newbies like me ;-)

I'd suggest something like `throw new InvalidArgumentException('Unsupported key type. Please use a ES512 key.');`

[2021-04-09 05:18] Miniland1333 opened #305 "For Jose\Easy\Build, add payload or claims method for bulk setting."
**Is your feature request related to a problem? Please describe.**
For Jose\Easy\Build, for each claim you want to add you currently have to call ->claim() individually. This is a bit cumbersome if you already have the payload as an object.

**Describe the solution you'd like**
While I am relatively new to PHP, below is some possibly working code of how a `payload` function could simply loop over

[2021-04-16 13:53] neuquen opened #306 "Multiple Issuers?"
I'm interested in allowing multiple issuers when loading a token with `Load::jws()`.  Is that possible?

Something like the following?

    Load::jws($token)->iss($issuer1)->iss($issuer2)

OR

    Load::jws($otken)->iss([$issuer1, $issuer2])

[2021-04-28 12:06] itzmeesuvm commented on #238
When trying to sign with HS256, It works perfectly fine :

jws.sign({'a': 'b'}, 'secret', algorithm='HS256')

But same when i try with RS256, It is failing:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/jose/backends/cryptography_backend.py", line 231, in __init__
    self.prepared_key = load_pem_public_key(key, self.cryptography_backend())
  File "/usr/local/l

[2021-04-28 12:14] Spomky commented on #238
Please make sure the `web-token/jwt-signature-algorithm-rsa`package is installed

[2021-05-05 11:13] lieusq opened #308 "Taking 30minute or so to generate JWS token using PS256 algorithm"
**Describe the bug**

Hi, I'm facing an issue as per described in the title.

My application is currently running
 - PHP version - 7.3.27
 - GMP version - 6.2.0

This is the sample script that I took from the example.
[code]
Below is the error I encountered ,if I did not overwrite the default php maximum execution time. If I do and set it as, it will take at least 30minute or so to generate the JW

[2021-05-06 04:18] Spomky commented on #308
Hi,

I can see that the error is thrown from the NativeCalculator class.
This means neither GMP or BCMath e tensions are loaded.

You can check the loaded extensions using `get_loaded_extensions()`.
With the version you mention, I presume you installed she library instead the extension
On Ubuntu, the command is `sudo apt-get install php7.3-gmp`

[2021-05-06 11:01] lieusq commented on #308
It is working as per what you advised. Appreciate a lot for the prompt reply. @Spomky  .Have a great day sir 😄

[2021-05-06 11:59] #308 closed, assigned to nobody

[2021-05-13 16:21] MarkG-IEL opened #309 "jose-app: Warnings with PHP 8"
**Describe the bug**
When running `jose-app` phar on PHP 8, multiple warnings are emitted. May need to upgrade/update dependencies again.

[code]

[2021-05-14 13:24] yatendra121 opened #310 "Argument 1 passed to Jose\Component\Core\Util\JsonConverter::decode() must be of the type string, null given, called in /var/www/html/sghealth/server/vendor/web-token/jwt-easy/Decrypt.php on line 117"
$jwe = 'eyJlcGsiOnsia3R5IjoiRUMiLCJjcnYiOiJQLTI1NiIsIngiOiJHUXVCU2FfalJCMHd6eURoWHRVRUk4UDkxT0piTEJoM1EwUVVsZXI4LW9jIiwieSI6IkgyRktTVmNZb2tiREtaRzFKUWNvaVN4LUpQOUs2WjVOY1dkMHlVcTZYWkkifSwiYWxnIjoiRUNESC1FUytBMTI4S1ciLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIiwiY3R5IjoiSldUIn0.0qZegEkn-SQSVRTUa1piGP0l8f_01yOXl_cGXSyzCRr7uIzs2QfQNSz6x7uO36EzxfAcPmtucMIDZCzk4EdbEE17nASmXcXd.anXgdJTPoQFwmXFdeQ0hdw.E9FYOHvAFlbWw8_J

[2021-05-17 20:58] Spomky commented on #309
Hi,

The application is now up to date.
I don’t see any warning now, but let me know if they are still visible (please add the executed command line if so).

Many thanks.

[2021-05-17 21:01] Spomky commented on #306
Hi,

A token usually has only one issuer and the [RFC limits the `iss` claim](https://datatracker.ietf.org/doc/html/rfc7519#section-4.1.1) to a string or an URI.
What is the use case?

[2021-05-17 21:07] Spomky commented on #305
Hi,

The [`payload` method](https://github.com/web-token/jwt-framework/blob/v2.2/src/Easy/AbstractBuilder.php#L41-L47) already exists.

[2021-05-17 21:11] Spomky commented on #310
Hi,

It looks like the key cannot be used to decrypt the token.
Could you please send me sample data with the private key to have a better understanding on this issue?

Many thanks.

[2021-05-17 21:39] Spomky commented on #304
Hi,

Actually, it is not yet possible to read PKCS#8 DER encoded keys.
As a temporary solution, you can convert the key into PEM before loading:

[code]

[2021-05-17 22:44] Miniland1333 commented on #305
Thanks for finding that! Do you think it would be a good idea for me to document this method in https://web-token.spomky-labs.com/the-easy-way/easy?

Example:
[code]

[2021-05-18 12:51] Spomky commented on #305
I added some words about this feature.
It is in the example. If you think it should be in a dedicated section, just ask.

[2021-05-18 16:35] Miniland1333 commented on #305
I see the changes in the documentation and having this documented will be great for intermediate users who have the payload in an array or object. Thank you @Spomky for doing this!

[2021-05-18 16:35] #305 closed, assigned to nobody

[2021-05-27 05:50] yatendra121 commented on #310
$jwe = $serializerManager->unserialize($token);
$success = $jweDecrypter->decryptUsingKey($jwe, $jwk, 0);

Thanks, JWE decryption using Easy Way method has not worked for only this JWE. and I had tested with the above method and
 we have successfully decrypted the above JWE.

[2021-05-27 05:50] #310 closed, assigned to nobody

[2021-07-09 03:14] vatoer opened #314 "the jwt cannot be used immediately after token creation even i set `->iat(1)` with error `The JWT can not be used yet.`"
**Describe the bug**
the jwt cannot be used immediately after token creation even i set  or `->iat(1)`

i also simulate to put `usleep(200000)` before verify `$token` but the the result is not consistent

i also tried to set `->iat(false)`

in 10x trial its about 3-4 failed with error `The JWT can not be used yet.`

**To Reproduce**
Steps to reproduce the behavior:
1. generate token `$token`
2. ve

[2021-07-20 09:36] vuongxuongminh commented on #258
Hi, thanks you for the awesome library,

I have same problem when upgrade package to v2.2.x and downgrade to ~v2.1.7, it play well.

Look like this condition make this bug: [KeyConverter#L178](https://github.com/web-token/jwt-framework/blob/v2.2/src/Component/KeyManagement/KeyConverter/KeyConverter.php#L178)

[2021-07-23 22:24] #309 closed, assigned to nobody

[2021-07-23 22:24] #306 closed, assigned to nobody

[2021-07-23 22:24] #304 closed, assigned to nobody

[2021-07-25 13:54] Spomky commented on #314
Hi @vatoer,

Thnak you for reporting this issue.
Unfortunately I cannot reproduce it. I generated a token on the fly and used the same verification code you posted.
See the example herefater.
Can you please send me a token or a detailed example so that I can figure out what is going on?

[code]

[2021-07-25 15:33] Spomky commented on #258
Hi @vuongxuongminh,

Can you send me the first part of the encrypted certificate you use?
It should start with

[code]

[2021-07-25 16:02] vuongxuongminh commented on #258
Hi @Spomky look like my encrypted certificate not start with that block, my bash script using to generate keys:

[code]
and the encrypted private start with:

[code]

[2021-08-11 11:52] VaseemDeveloper commented on #314
Hi @Spomky
I am using the code written here - https://github.com/aaronpk/sign-in-with-apple-example/blob/master/client-secret.php
To execute the code i need a library from the following.
require('vendor/autoload.php');

use Jose\Component\Core\AlgorithmManager;
use Jose\Component\KeyManagement\JWKFactory;
use Jose\Component\Signature\Algorithm\ES256;
use Jose\Component\Signature\JWSBuilder;
use Jo

[2021-08-24 10:42] dzmitry-kankalovich commented on #122
Funnily enough, I ran into the same behavior with the [JS JWT lib](https://stackoverflow.com/questions/68905819/why-ec-key-is-treated-as-a-valid-rsa-key-for-the-jwt-and-jwk). This might be not a language-specific thing.

[2021-08-26 06:23] Spomky commented on #122
Hi,

As I mentioned before, this is not a behavior of one library or the other, but the way the key is created that is not correct.

[2021-09-28 09:25] apksundar1980 opened #316 "Payload null error"
**EC key type key encryption alogorithm   ECDH-ES+A192KW not able to decrypt**

**Steps to replicate**
 $id_token = 'eyJlcGsiOnsia3R5IjoiRUMiLCJjcnYiOiJQLTUyMSIsIngiOiJBWGYwTTdoLXNNRFZ4Z055WFNRaHFFdjZQaTRKVFRWc3Mwd3FOTEdxbm1saFBwSmpNQVk2YnFRZUQzcDk4YWszTWJFU1Axbzk0WHNmS3B2MGgxZkcyNXhkIiwieSI6IkFRNU5JczNfTW1MZ0J0S0hhaHZ4ZGpEbGdLd3VkalgzbXhfcmZxYjEyZUhXWlkxc1FHeGlldHhUMTdsd3RXdFpxZi1qRlRFWUlaV1FOVS1

[2021-09-28 12:01] apksundar1980 commented on #316
Allowed memory size of 134217728 bytes exhausted (tried to allocate 98570240 bytes)
It goes to unwrapAgreementKey($recipientkey,$senderKey,.....) this function
and got the above allowed memory size error

[2021-09-28 12:16] apksundar1980 commented on #316
**Easy way**
$jwt = Load::jwe($id_token)
            ->algs(['ECDH-ES+A192KW', new ECDHESA192KW()])
            ->encs(['A256CBC-HS512', new A256CBCHS512()])

            ->key($key)
            ->run()
        ;

print_r($jwt);exit;

**Below are the error compes above easy way code**
Argument 1 passed to Jose\Component\Core\Util\JsonConverter::decode() must be of the type string, null given, call

[2021-09-28 19:54] Spomky commented on #316
Hi,

The code you provided looks good.
You can simply do as follow, but it's fine anyway

[code]

The error comes from your key. The parameters `x` and `y` shall be present, but they are missing here.

Regarding the memory error, may I suggest to increase the memory used by PHP.
You can either

* set it directly when running a command `php -d memory_limit=-1 script.php` (`-1` means unlimited)
* se

[2021-09-29 04:10] apksundar1980 commented on #316
Hi Spomky,

**Easy way method :**

`$id_token = 'eyJlcGsiOnsia3R5IjoiRUMiLCJjcnYiOiJQLTUyMSIsIngiOiJBWGYwTTdoLXNNRFZ4Z055WFNRaHFFdjZQaTRKVFRWc3Mwd3FOTEdxbm1saFBwSmpNQVk2YnFRZUQzcDk4YWszTWJFU1Axbz$

        $key = new JWK([
                     "kty" => "EC",
                                "d" => "keypassed",
                                "use" => "enc",
                                "crv" =>

[2021-09-29 04:14] apksundar1980 commented on #316
**Another way**

` $keyEncryptionAlgorithmManager = new AlgorithmManager([
            new ECDHESA192KW(),
        ]);

        // The content encryption algorithm manager with the A256CBC-HS256 algorithm.
        $contentEncryptionAlgorithmManager = new AlgorithmManager([
            new A256CBCHS512(),
        ]);

        // The compression method manager with the DEF (Deflate) method.

[2021-09-29 04:16] apksundar1980 commented on #316
Hi Spomky

Can i send the private key to you this email  contact@spomky-labs.com for further investigation?

[2021-09-29 04:56] apksundar1980 commented on #316
memory size error resolved @Spomky
Now Easy way getting below error
**Symfony\Component\Debug\Exception\FatalThrowableError
Argument 1 passed to Jose\Component\Core\Util\JsonConverter::decode() must be of the type string, null given, called in /var/www/html/login/vendor/web-token/jwt-easy/Decrypt.php on line 116**

and another way
**success variable false not set payload
jwe_object (output decrypt

[2021-09-30 05:26] apksundar1980 commented on #316
Hi,
memory error resolved.
But not able to decrypt the payload.

Thanks,
Sundar

On Wed, Sep 29, 2021 at 1:24 AM Florent Morselli ***@***.***>
wrote:

[2021-10-02 04:25] apksundar1980 commented on #316
Hi Spomky,

Any update?

[2021-10-02 04:31] apksundar1980 commented on #316
I have given the correct key but not able to decrypt the payload. can you please help me?

[2021-10-08 08:07] muditsunarctech opened #317 "ECDH-ES+A256KW not supported and Unsupported input."
I'm trying to decrypt the JWS key but getting this error and then **The algorithm "ECDH-ES+A256KW" is not supported.!**

![image](https://user-images.githubusercontent.com/85930852/136521078-26a26e32-7d97-4836-8e0b-fc4869969098.png)

[2021-10-10 15:13] #317 closed, assigned to nobody

[2021-10-11 07:45] apksundar1980 commented on #316
Hi @Spomky

any update? How to fix this error?

[2021-10-13 00:13] Tigatok commented on #316
@apksundar1980 Before you try to decrypt it, does the actual object have the payload? I had to re-assign my withPayload instead of using the chained arrow commands.

[2021-10-13 04:10] apksundar1980 commented on #316
@Tigatok Before try decrypt. JWE object should not have the payload. Decrypt command only generate the payload and update the object.

[2021-10-13 19:37] Spomky commented on #316
Hi @apksundar1980,

Thank you for the issue and the e-mails and thank you for your patience. I was almost-offline for personal reasons.
Many conditions could lead to this behaviour: incorrect key, missing extension (`GMP`?), malformed token...
The data you provided by e-mail is incomplete. The token seems to be truncated and the decrypting key is missing required private parameters. Would you mind

[2021-10-13 23:36] apksundar1980 commented on #316
Hi @Spomky

First of all I thank you very much for your great effort JWT Framework.
Thank you very much for your email.
I sent email (complete token and decryption key) to contact@spomky-labs.com. Please check.

Key is correct.
GMP extension installed correctly and enabled.
Token is correct.

Please let me know what is wrong in the program. Thank you very much.

[2021-10-14 10:06] philipptreichel opened #318 "unhandled RuntimeException"
path: vendor/web-token/jwt-signature/JWSVerifier.php

[code]

### Problem Description

This Function catches all Exceptions. When a Runtime Exception occures such as:
[code]
this function just gives a false back.

### Possible solution
Catch Runtime Exceptions Separately and throw a new Exception.
Maybe like this:
[code]

[2021-10-14 16:30] Spomky commented on #316
Hi @apksundar1980,

I am able to decrypt with the key you provided. This token is a nested token i.e. the JWE contains a JWS.
This is why the *easy* way is failing. My mistake, I should clearly mention that that way of token loading does not support nested tokens.

Anyway, here is a working example. The only problem I am facing is that non of the signature verification key you share is acceptable.

[2021-10-14 21:27] Tigatok opened #319 "Is it possible to create a JWE without a JWK for use in Direct Key Encryption"
Hi there,

I am trying to create a JWE token without a JWK. I am using the Direct Key Encryption (Dir), and I have a shared key. How do I use this library when a JWK is required?

[2021-10-14 22:17] Tigatok commented on #319
Figured this out, you must use the library included here:

https://web-token.spomky-labs.com/the-components/key-jwk-and-key-set-jwkset/key-management

And then use the $jwk = JWKFactory::fromSecret method. The parameter of the fromSecret method is the shared key.

Full code:

[code]

[2021-10-14 22:17] #319 closed, assigned to nobody

[2021-10-17 19:56] #314 closed, assigned to Spomky

[2021-10-18 05:04] apksundar1980 commented on #316
Hi Spomky

It works with PHP7.4
but it was tried with php7.2. This is the issue
Thanks for your support.
Great.

[2021-10-18 05:07] #316 closed, assigned to Spomky

[2021-10-28 06:18] gitHusband commented on #308
Mark.

Extend GMP for Docker Alpine 3.14 PHP 7.3

<pre><code>
&& apk add --no-cache --virtual gmp-dev \
&& docker-php-ext-install gmp \
</code></pre?

[2021-11-19 09:52] muditsunarctech opened #320 "Is there a way to create JWK Key Set from public certificate and private key ?"
I've been trying to generate JWK Key Set using public.cer and private.pem, but did not understand if it's possible using this package or not!

[2021-11-19 09:56] Spomky commented on #320
Hi @muditgulgulia,

Yes it is possible. Have you read about the `JWKFatory` methods [listed in the documentation](https://web-token.spomky-labs.com/the-components/key-jwk-and-key-set-jwkset/key-management#create-key-from-external-sources) ?

[2021-11-19 09:59] Spomky commented on #318
Hi @philipptreichel,

You are right, this could be managed as showed in your proposal.
Maybe just `throw $e;` is enough, no need to wrap the RuntimeException into another RuntimeException.

[2021-11-19 10:11] muditsunarctech commented on #320
But it don't give **alg** or **crv** used to generate the KEY

[2021-11-19 10:12] muditsunarctech commented on #320
or is it possible to create the private key from JSON KEY Object?

[2021-11-19 10:22] Spomky commented on #320
If the key is an EC one, the `crv` parameter will be set.
The `alg` parameter is never set because the factory cannot guess the purpose of the key. You have to set other parameters manually depending on the use case. See the example in https://web-token.spomky-labs.com/the-components/key-jwk-and-key-set-jwkset/key-management#octet-string

It is possible to use the [Component/Core/Util/ECKey.ph](ht

[2021-11-19 10:32] muditsunarctech commented on #320
Thanks @Spomky  for the quick reply, you can close this because it was just a question!

[2021-12-07 21:55] a-menshchikov opened #322 "Symfony Bundle version 6 support"
Is there any plans to add Symfony 6 support for bundle?

[2021-12-09 12:07] a-menshchikov commented on #322
@Spomky is there anything I can do to help you with the Preparation3.0 branch?

[2021-12-09 12:48] Spomky commented on #322
Hi @a-menshchikov

Thank you for your help.
Actually, there is nothing to do right now. 3.0 is more or less the 2.x + PHP8.0 + type hining - the deprected methods/classes
I am considering a new CI pipeline that breaks all the tests, but nothing diffucult here.
I just need time to make sure everything is fine.

What you can do is start using the v3.0@dev branch and report here any trouble you may h

[2021-12-09 12:48] #320 closed, assigned to Spomky

[2021-12-13 14:44] mschrading opened #324 "symetric key encryption for keys"
Hi all.

Trying to encrypt simple strings but laptop started heading my room and doesn't come back. I use to take the public "wrapKey" key for building a JWK object

`$JWK = new JWK($JWKArray); `//Have a look at the attachment file` then: create JWEBuilder()`

then payload()

and

`
->withSharedProtectedHeader([
   'alg' =>  'RSA-OAEP-256', // Key Encryption Algorithm 'RSA-OAEP-256'
   'enc' => 'A

[2021-12-23 11:28] sakarikl commented on #322
When could we expect symfony 6 support to be usable through composer?

This is last project that prevents us from upgrading to symfony 6 :)

[2021-12-23 11:31] sakarikl commented on #322
Could it be just added to 2.x branch?

[2022-01-03 13:21] KouloukLeGrand commented on #322
Hi,

Like @sakarikl, I am waiting for the JWT Framework to support Symfony 6 to upgrade my project. I prefer to avoid unstable dependencies.

Looking forward to your reply @Spomky 😇

[2022-01-04 21:19] chrif opened #325 "Leeway is not documented correctly"
In The Easy way doc, it says to use milliseconds for `iat` leeway, but when I look at the code for `IssuedAtChecker`, it assumes leeway is in seconds.

https://web-token.spomky-labs.com/the-easy-way/easy
![image](https://user-images.githubusercontent.com/1298013/148124792-bb3d9b72-43b7-41e1-b90d-715a6cec009f.png)

![image](https://user-images.githubusercontent.com/1298013/148125205-8467fd88-a4e5-4

[2022-01-06 22:31] a-menshchikov commented on #322
@Spomky few deprecations for you:

[2022-01-07 06:03] bhupverz opened #326 "Payload Null and Decryption issue"
Response Token :

eyJlcGsiOnsia3R5IjoiRUMiLCJjcnYiOiJQLTI1NiIsIngiOiJKd25GV0l6R2o3RU05U1hUbmY3a1ltTEVEeEF4alFxQVc4andwTGRvQXh3IiwieSI6ImNFeFhPa01uT1ZwNE5MN19id3R6azBfUXJ0U2FFUTNlejVYYjlnR3plY0EifSwia2lkIjoiSTExSmU2Ukxma1VpU3pEQ2N6MEg5eVdPdkhnSkdYTlY0OFYwcVFweGdhVSIsImN0eSI6IkpXVCIsImVuYyI6IkEyNTZDQkMtSFM1MTIiLCJhbGciOiJFQ0RILUVTK0ExMjhLVyJ9.JLUE4GUUn6pIUUGtD8Ctd4QydtgtERw5oBM6OvSzo5drl7IzP4JPngviJ

[2022-01-09 08:17] Spomky commented on #322
Hi there,

I wish all the best for this New year.
The Symfony 6 support is ongoing on a dedicated branch (https://github.com/web-token/jwt-framework/tree/v3.0).
There are some issues to fix first before tagging.
This new v3.0 is most likely the same as v2.2 without deprecated stuff and type int almost everywhere.
The Symfony Serializer support will be deprecated in v2.2 as SF6 normalizer interface

[2022-01-15 09:46] peerfromme commented on #324
Hi, I had the same problem. The call to build() never returned. It was a missing bcmath extensions, so the BigInteger calculations took forever. I installed the bcmath extension and everything ran flawlessly.

[2022-01-15 14:33] Spomky commented on #324
Hi @mschrading,

Sorry I missed this issue. The RSA-OAEP algorithms are slow because of lack of native methods provided by PHP or extensions.
I think @peerfromme is right and installing BCMath or GMP will solve that issue.

[2022-01-16 20:35] mdeboer commented on #322
@Spomky If you don't mind I'll take some time next week to fix SF serializer support as I really require this. Would be nice to have this at launch.

Edit: nvm already fixed it, PR coming in a bit 👍🏻

[2022-01-17 03:15] mdeboer commented on #322
Please see https://github.com/web-token/jwt-framework/pull/328

Also, if there is anything else, please let me know.

[2022-01-18 07:41] mschrading commented on #324
Cool! Thanks a lot.

[2022-01-18 07:41] #324 closed, assigned to nobody

[2022-01-26 01:51] #318 closed, assigned to Spomky

[2022-01-27 06:45] sakarikl commented on #322
Ended up removing web-token/jwt-console package from our composer. After that there wasn't any symfony dependencies.

[2022-02-08 04:47] PlusA2M commented on #215
@Spomky Same things happened on the latest version.

[code]

[2022-02-11 12:24] mqnabeel opened #331 "i have created token according the documentation when i try to decrypt token it gving fetal error as i follow the documentation but its giving error the error is commented below"

[2022-02-11 12:24] mqnabeel commented on #331
Fatal error: Uncaught RuntimeException: Unable to load and decrypt the token. in D:\xamp\htdocs\projecttwo\vendor\web-token\jwt-framework\src\Component\Encryption\JWELoader.php:107 Stack trace: #0 D:\xamp\htdocs\projecttwo\vendor\web-token\jwt-framework\src\Component\Encryption\JWELoader.php(82): Jose\Component\Encryption\JWELoader->loadAndDecryptWithKeySet('eyJhbGciOiJBMjU...', Object(Jose\Compon

[2022-02-19 14:55] Spomky commented on #325
Hi @chrif,

You are right, this will be fixed.

Regards

[2022-02-27 08:52] lazka opened #333 "Consider removing broken versions from packagist"
All the 3.0.0 versions are considered as compatible with PHP 7.4 because they lack a php version restriction themselves. This results in a broken project because of the PHP 8 syntax when updating with some automated tools like dependabot, or renovate.

Please consider removing all the 3.0.0 versions from packagist.

Also, thank you for this nice library.

[2022-02-27 09:11] Spomky commented on #333
Hi @lazka,

I have not noticed that; sorry for the incovenient.
In this case, I will add the correct PHP version on all sub-packages. THis should fix the issue.

[2022-02-27 09:16] lazka commented on #333
No problem.

I don't think adding the version restrictions is enough, since the old versions are still available and installable. It might help to avoid similar problems with future updates though.

If yanking a version somehow isn't possible, then I can manually block all the packages to upgrade everywhere I use them, so personally that is fine too, but will not help anyone else with a similar pr

[2022-02-27 09:21] Spomky commented on #333
It is well understood.
I've just pushed the v3.0.2 and removed v3.0.0 and 3.0.1 from packagist.
I don't  know if packagist will restore the deleted versions. If this is the case, I will remove the tags from the repositories.

[2022-03-01 20:17] srdmnc opened #334 "RuntimeException()"
**Version(s) affected**: 2.2.11

**Description**

Hi, I'm working on a nested token and currently using the NestedTokenBuilder to create a token and the NestedTokenLoader to load and verify the created token.

The NestedTokenBuilder works great, I was able to successfully generate a token but the NestedTokenLoader throws a runtime exception. I traced the source of the exception at this code block

[2022-03-16 03:49] #326 closed, assigned to nobody

[2022-03-17 21:47] joostdebruijn opened #335 "Upgrade documentation for v3 missing"
**Version(s) affected**: 3.0.0 and above

**Description**
There is no documentation about the breaking changes between v2.0 and v3.0. Howevert, it looks like there are breaking changes (besides the major version change), because the jwt-easy package seems no longer available in v3.0.

**How to reproduce**
Search for upgrade documentation or release notes for v3.0 in the repo, Github-releases or th

[2022-03-25 09:02] Spomky commented on #335
Hi @joostdebruijn,

I finally issued [the documentation](https://web-token.spomky-labs.com/). In fact, there are not many changes between v2.x and 3.0 because it is mainly an upgrade from the deprecated version of PHP to PHP8.1

But you are right about the Easy component. It became a nightmare to manage and I received cases where users were using it incorrectly and providing the possibility of att

[2022-03-28 08:47] lazka commented on #333
All v3.0.0 and v3.0.1 versions are back on packagist now, as far as I see.

[2022-03-28 14:03] stof commented on #335
@Spomky the github release notes are missing for the 3.0 releases. github releases are still showing 2.2.11 as the latest release

[2022-03-28 14:17] Spomky commented on #335
Hi @stof, this should be ok now.

[2022-03-28 22:56] msheakoski opened #336 "Symfony Flex recipe mentioned in docs does not exist"
**Version(s) affected**: 3.0.2

**Description**
https://web-token.spomky-labs.com/the-symfony-bundle/symfony-bundle mentions that a Flex recipe that will automatically configure the bundle, however, there is no such recipe. An entry to bundles.php must be manually added as well as config/packages/jose.yaml

**How to reproduce**
Run `composer require web-token/jwt-bundle` or `composer require web-t

[2022-03-29 04:17] Spomky commented on #336
You are right I missed some pieces of the puzzle. I will go to the solution 1.

[2022-03-29 04:18] Spomky commented on #333
correct... then I will remove those tags in all packages first.

[2022-03-29 04:20] Spomky commented on #322
This is fixed by the v3.0, but I will backport it to v2 for some packages whenever it is possible.

[2022-03-29 07:18] Spomky commented on #325
Closing as modified in the documentation

[2022-03-29 07:18] #325 closed, assigned to Spomky

[2022-03-29 07:20] Spomky commented on #333
I deleted all tags in the sub-repositories and the main one.
I also removed them on packagist. They should be gone forever.
Let me know if you see something wrong after that.

[2022-03-29 07:20] #333 closed, assigned to Spomky

[2022-03-29 16:56] Spomky commented on #336
The documentation says the bundle is automatically enabled if you use symfony flex.
This is still the case when installing `web-token/jwt-bundle`, but not for the complete suite `web-token/jwt-framework`.

There is no `jose.yaml` configuration file provided (it was removed as per [this comment](https://github.com/symfony/recipes-contrib/pull/137#issuecomment-346271425)). But now that flex is serve

[2022-03-30 16:00] Spomky commented on #336
Anyone familiar with the flex recipes here?

1. I created a repository for the bundles: https://github.com/web-token/recipes
2. This repository contains both the bundle and the framework rules as showed in the official Symfony Flex recipes repository (https://github.com/symfony/recipes/tree/flex/main)
3. There is an [index.json](https://github.com/web-token/recipes/blob/main/index.json) file
4. Th

[2022-03-30 17:38] Spomky commented on #336
This is working fine now.
Your project has to be updated. Please have a look [at the documentation](https://web-token.spomky-labs.com/the-symfony-bundle/symfony-bundle) I've just updated.

You have to execute the following command in your project root:

[code]

Let me know if you have any trouble.

[2022-03-30 17:42] #335 closed, assigned to Spomky

[2022-03-30 17:42] #336 closed, assigned to Spomky

[2022-03-31 13:30] lazka commented on #333
Thanks!

Some packages still show as outdated re 3.0.1, but they wont upgrade because they depend on jwt-core which has correct PHP requirements. So I'm happy.

Off topic: I was just about to suggest that you change the default branch for the read-only repos since they "seem" abandoned, and that always threw me off. But I see you did that now :) :+1:

[2022-04-05 14:34] mdeboer commented on #322
Just upgraded and it was seamless! 🎉

[2022-04-05 14:57] Spomky commented on #322
I am happy to read that.
It's always frightening to jump from one major version to another 😬

[2022-04-11 08:56] mdeboer commented on #219
https://www.rfc-editor.org/info/rfc8410

This states it is still a proposed standard, not an actual standard yet.

[2022-04-11 20:06] Spomky commented on #219
Hi @mdeboer,

Thank you for the reminder.
I created a PR for that (still in progress). I need to add tests to make sure it works fine.

[2022-04-14 10:00] lucasgranberg opened #338 "Unable to generate more than one key in keyset with console command"
**Version(s) affected**: 3.*

**Description**
There is a bug in the EcKeysetGeneratorCommand that prevents users from generating more than one key in a keyset

**How to reproduce**
`bin/console keyset:generate:ec --alg ES256 --use sig --random_id 10 P-256`

**Possible Solution**
The bug was introduced here https://github.com/web-token/jwt-framework/commit/3bfd93c82d6bc6165ca914aaa6ba62e65058d074#d

[2022-04-14 12:53] #338 closed, assigned to nobody

[2022-04-15 07:05] Spomky commented on #331
Hi,

Please, would you mind to copy and paste the source code you used and that lead to that exception?

Many thanks.
Regards.

[2022-04-22 08:01] ierover opened #340 "JWEBuilder with alg RSA-OAEP-256 Always time out to encrypt"
Runninng Result:
Maximum execution time of 30 seconds exceeded

[2022-04-22 08:08] Spomky commented on #340
When using RSA encryption algorithms, it is highly recommended to enable either GMP or BCMatch extension.
Please make sure you installed one of these extensions.

[2022-04-22 08:31] ierover commented on #340
Work fine after BCMatch installed.
Thank you!

[2022-04-22 08:32] #340 closed, assigned to Spomky

[2022-05-12 05:58] Spomky opened #342 "Use Symfony style for all command lines"
**Description**
The output of the commands is not great. The commands could use [`Symfony\Component\Console\Style\SymfonyStyle`](https://symfony.com/doc/current/console/style.html) to have nice messages and rendering.
This will also have a positive impact on the PHAR.

**Example**

[code]

[2022-05-14 13:32] mab05k opened #343 "Performance with Keycloak Generated Keys, RS256"
v3+

**Description**
I was using `spomky-labs/lexik-jose-bridge` to pull JWKS from Keycloak and validate my tokens. When validating the tokes, this function call takes >1 min to resolve

https://github.com/web-token/jwt-framework/blob/v3.0/src/SignatureAlgorithm/RSA/RSAPKCS1.php#L23

[code]
More specifically, this call: https://github.com/web-token/jwt-framework/blob/82642aac7e17b22041dd397af4fa28

[2022-05-14 13:41] Spomky commented on #343
Hi,

Thank you for using this library.
In general, performance issues with RSA algorithms are solved by installing GMP or BCMaths extensions.
Can you make sure one of the extensions is available with PHP CLI?

`php -m` should help.

[2022-05-14 13:44] mab05k commented on #343
Looks like not. Any recommendation on which would be better? Going to start with bcmath...

Thank you for the quick response!
[code]

[2022-05-14 13:46] Spomky commented on #343
In general, GMP is faster with less memory consumption for this use case.

[2022-05-14 20:35] mab05k commented on #343
This was 100% the problem. GMP works. Thank you!!

[2022-05-14 20:35] #343 closed, assigned to nobody

[2022-05-27 06:14] b1tw0rker opened #345 "openssl_sign(): supplied key param cannot be coerced into a private key"
Trying to Build a web-token jwt brings up the foloowing error:

openssl_sign(): supplied key param cannot be coerced into a private key.

Thats my code:

$vapidPublicKey = 'some87characterVAPIDKEYsstring';
$vapidPrivateKey = 'some43characterVAPIDKEYString';

$length = strlen($vapidPublicKey);
$x = mb_substr($vapidPublicKey, 0, $length / 2);
$y = mb_substr($vapidPublicKey, $length / 2, null);

use

[2022-05-27 17:12] kpcyrd opened #346 "Can't load pkcs8 key with ECKey: 4 children are expected, but 3 are present"
**Version(s) affected**: 2.2.11

**Description**

I'm trying to load a PEM+PKCS8 encoded secp384r1 key but the decode fails with `Unable to load the key`.

This code assumes there are always 4 children after decoding pkcs8, but with the key I'm using it's 3:

https://github.com/web-token/jwt-framework/blob/68fda8c391e75c4d2fb07476292a6114c2fb2fb6/src/Component/KeyManagement/KeyConverter/ECKey.php#

[2022-05-30 11:42] temp opened #349 "Problem after upgrade to symfony 6.1"
web-token/jwt-bundle: v3.0.4

**Description**
I'm experiencing this error when calling bin/console (or any other entry point) in dev mode:
[code]

**How to reproduce**
Update to symfony 6.1, call bin/console in dev mode

**Possible Solution**
I guess something changed about symfony-serializers normalizers and encoders.
`\Jose\Bundle\JoseFramework\Serializer\JWESerializer` and `\Jose\Bundle\JoseFra

[2022-05-30 12:26] Spomky commented on #346
Hi,

The key is correctly identified as a PKCS#8 key by https://github.com/web-token/jwt-framework/blob/68fda8c391e75c4d2fb07476292a6114c2fb2fb6/src/Component/KeyManagement/KeyConverter/ECKey.php#L66-L68

But I missed something when dealing with the extracted data.
I will patch this

[2022-05-31 20:55] Spomky commented on #349
Hi,

This should be fixed with the latest version `3.0.5`.
Can you confirm?

[2022-05-31 21:03] Spomky commented on #345
Hi,

The `$vapidPublicKey` should start with a `\x04` character you have to remove.
The lengths of 87 and 43 characters are strange. The keys shall be binary data, no base64 encoding.
See [this function](https://github.com/Spomky-Labs/web-push/blob/v2.0/src/library/VAPID/WebTokenProvider.php#L36-L60) for a working example.

Beside that, may I suggest you to use [Spomky-Labs/web-push](https://githu

[2022-06-02 09:29] temp commented on #349
@Spomky works like a charm now, thanks!

[2022-06-02 09:29] #349 closed, assigned to nobody

[2022-06-02 17:23] Spomky commented on #349
Perfect 🤠. All credits go to @mdeboer!

[2022-06-02 17:23] Spomky commented on #342
Cancelled

[2022-06-02 17:23] #342 closed, assigned to Spomky

[2022-06-02 17:24] Spomky commented on #322
I think we can close this issue now.

[2022-06-02 17:24] #322 closed, assigned to nobody

[2022-06-02 17:25] #331 closed, assigned to nobody

[2022-06-18 21:26] killua-eu opened #351 "Updating from the deprecated Jose\Easy\*"
Would you kindly provide some documentation on how to upgrade from Jose\Easy? There are so many classes and methods within the framework that I get lost on how to reimplement even the simplest things, such as

[code]

Thanks lots in advance

[2022-06-18 21:33] Spomky commented on #351
Hi,

The `Easy` component was removed in v3.0
See https://web-token.spomky-labs.com/migration-1/from-v1.x-to-v2.0-1#list-of-deprecations

There is no replacement for the moment.

[2022-06-18 22:06] killua-eu commented on #351
Oh, sorry for not typing things out better. I'm aware that `Easy` was dropped. My question aimed at how one would rewrite the `2.2` `Easy` code to use `3.0` classes.

[2022-06-23 01:09] #334 closed, assigned to nobody

[2022-07-16 14:19] Spomky commented on #351
Actually, the v3.0 is quite boring: it is just the v2.x minus deprecated features plus dependency updates.
It should be possible to use the same classes with a limited number of changes

[2022-08-01 00:03] HDNAdministrator opened #354 "Shared secret fails to be computed from Rx sKey and Tx pKey on an ECDH-ES+A256KW"
**Version(s) affected**: 3.0.0

**Description**
The  ECDHES.calculateAgreementKey() (line 115) fails when decryptering.

**How to reproduce**

\<?php
	declare(strict_types=1);

	require_once('vendor/autoload.php');

	use Jose\Component\Checker\AlgorithmChecker;
	use Jose\Component\Checker\HeaderCheckerManager;
	use Jose\Component\Core\AlgorithmManager;
	use Jose\Component\Encryption\JWEBuilder;
	u

[2022-08-02 08:58] HDNAdministrator opened #355 "Add ECDH-SS"
**Description**
Add the ECDH-SS variant

**Example**
[JWEBuilder.txt](https://github.com/web-token/jwt-framework/files/9240479/JWEBuilder.txt)
[ECDHSS.txt](https://github.com/web-token/jwt-framework/files/9240549/ECDHSS.txt)
[ECDHSSA256KW.txt](https://github.com/web-token/jwt-framework/files/9240560/ECDHSSA256KW.txt)
[ECDHSSAESKW.txt](https://github.com/web-token/jwt-framework/files/9240568/ECDHSS

[2022-08-02 10:11] HDNAdministrator opened #356 "EdDSA fail to sign"
**Version(s) affected**: 3.0.6

**Description**
JWS signature fails when using EdDSA

**How to reproduce**

`

		$jwk= JWKFactory::createOKPKey('Ed25519');

		$payload = json_encode([
			'iat' => time(),
			'nbf' => time(),
			'exp' => time() + 3600,
			'iss' => 'ISS',
			'aud' => 'AUD'
		]);

		$algorithmManager = new AlgorithmManager([new EdDSA()]);

		$jwsBuilder = new JWSBuilder($algorithmMana

[2022-08-03 10:01] Spomky commented on #355
Many thanks. ECDH-SS is definitely something I wanted to integrate.
You are right, contrary to the ECDH-ES variant where an ephemeral key is created, it requires extra modifications to retrieve the sender key.

[2022-08-03 10:02] Spomky commented on #356
😬 I should verify the test vectors at the same time.

[2022-08-03 10:04] Spomky commented on #354
Is it related to #356?
Looks like there is an issue with OKP keys.
Or does it come from modifications done on the sodium extension?
TBC

[2022-08-03 10:10] HDNAdministrator commented on #355
You are wellcome.
Apart from JWEBuilder, NestedTokenBuilder and NestedTokenLoader the adaptation from ES to SS seems quite straightforward but php is not my strongest language.

[2022-08-03 10:13] HDNAdministrator commented on #354
I think they are related. Didn't though of it at the time.

[2022-08-03 10:15] HDNAdministrator commented on #356
I tested sucessfully.

[2022-08-04 14:39] remipelhate commented on #346
Hi there! Is there any status on this issue? I'm having the same problem on v3.0.6 using curve `prime256v1`. If I can help to solve this in any way, please let me know ;)

[2022-08-04 19:54] Spomky commented on #356
I cannot reproduce this issue.
The secret shall be the concatenation of the public and private keys otherwise the following exception is thrown:

`SODIUM_CRYPTO_SIGN_SECRETKEYBYTES` corresponds to 64 bytes long

This following code works as expected (computation and verification):

[code]

[2022-08-04 20:24] #354 closed, assigned to Spomky

[2022-08-04 20:26] Spomky commented on #354
This is fixed in `v3.0.7`.
The issue was from the way the X25519 private key is generated.

[2022-08-04 21:03] HDNAdministrator commented on #356
That is strange. I've reran the test code with the original and the suggestion versions and I still get the same exception that you have but on the original. By [php doc](https://www.php.net/manual/en/function.sodium-crypto-sign.php) it is suppose to be the privateKey only not the concat. Could it be related with the version of sodium?

From phpinfo:
- PHP: 8.1.8
- Sodium: 1.0.18

EDIT: I apologis

[2022-08-12 00:52] #345 closed, assigned to nobody

[2022-08-12 11:29] tomme87 opened #361 "Create a JWKSet with existing JWK with the symfony bundle"
**Description**
Looks like there is no way to create a JWKSet with existing JWK defined with the Symfony bundle.

I would like to be able to create a key_set from other keys I have defined in the config.

**Example**
[code]

[2022-08-12 15:25] Spomky commented on #361
Hi @tomme87,

This behaviour does not exist, but the opposite one does: https://web-token.spomky-labs.com/the-symfony-bundle/key-and-key-set-management/key-management-jwk#from-a-key-in-a-key-set

I understand that the JWKs are generated from existing keys. As this is not really efficient (requires key conversion during runtime), I suggest to create the JWKSet from those keys. This way you avoid co

[2022-08-12 16:12] tomme87 commented on #361
Thanks for the quick reply.

Good suggestion. I will create the JWKSet instead, and go from there.

[2022-08-19 14:36] thejoelinux opened #363 "Missing extension cause JWS Verifier to fail without any notice"
**Version(s) affected**: 3.0.7

**Description**
I use the Symfony Bundle.

When I try to check the signature of my JWE token, it fails. And still, when i call manually the `openssl_verify` function, it succeds.

In this file : `vendor/web-token/jwt-signature-algorithm-rsa/RSAPKCS1.php`, in the function `verify`:

[code]
I found that the call : `$pub->toPEM()` sort of never returns, not only a valu

[2022-08-19 14:59] Spomky commented on #363
Hi, thank you for reporting this issue.
GMP and BCMath extensions are not required, because this suite of librairies is used by companies/public departments where third party extensions such as GMP are not allowed.
This is the expected behavior and it is mentioned in the doc it can be (very) slow in some cases (https://web-token.spomky-labs.com/introduction/pre-requisite). Those extensions are als

[2022-08-19 14:59] #363 closed, assigned to nobody

[2022-08-19 15:30] thejoelinux commented on #363
Thanks for your answer. It does work with the extension installed, tho. It solves my problem, at least.

So there's maybe some other issue, like in `fgrosse/phpasn1` or somewhere. Well, i hope i could help someone who stumbles on this issue.

[2022-08-22 19:39] Spomky commented on #219
Will be available in 3.1.0

[2022-08-22 19:39] #219 closed

[2022-08-22 19:40] Spomky commented on #346
Hui,

This will be available in 3.1.0

[2022-08-22 19:40] #346 closed, assigned to Spomky

[2022-08-23 12:00] remipelhate commented on #346
Awesome! Thanks for the support @Spomky 🙏🏻

[2022-08-23 12:28] Spomky commented on #355
Hi @HDNAdministrator,

Changes are going to be addressed through #366.
You can start testing it with the branch https://github.com/web-token/jwt-framework/tree/features/ecdh-ss

[2022-08-23 19:31] #355 closed, assigned to Spomky

[2022-08-23 20:46] HDNAdministrator commented on #356
TL;DR: Ed25519 and X25519 are generated differently on ECDHES and JWKFactory

On ECDHES
`

    private function createOKPKey(string $curve): JWK
    {
        $this->checkSodiumExtensionIsAvailable();

        switch ($curve) {
            case 'X25519':
                $keyPair = sodium_crypto_box_keypair();
                $d = sodium_crypto_box_secretkey($keyPair);
                $x = sodium_c

[2022-08-23 21:13] Spomky commented on #356
Correct. I will fix this issue ASAP

[2022-08-23 21:43] szepeviktor opened #398 "Try symplify instead of gitsplit"
### Description

It is a better tool.

https://github.com/symplify/monorepo-builder 👀

That is all.

### Example

_No response_

[2022-08-24 05:27] Spomky commented on #398
Hi @szepeviktor,

This looks good to me.
I will give it a try and see how to use it here.
Many thanks.

[2022-08-24 06:49] Spomky commented on #356
Hi,

This should be fixed in 3.1.1.

[2022-08-24 06:49] #356 closed, assigned to Spomky

[2022-08-24 06:50] Spomky commented on #356
By the way, many thanks for supporting me 👍🏽 . I really² appreciate 😍

[2022-08-24 15:33] HDNAdministrator commented on #356
The lib is great to the point I’m using it as guidance with the offical docs to build one in kotlin Enviado do Correio para Windows De: Florent MorselliEnviado: 24 de agosto de 2022 07:50Para: web-token/jwt-frameworkCc: HDN; AuthorAssunto: Re: [web-token/jwt-framework] EdDSA fail to sign (Issue #356) By the way, many thanks for supporting me 👍🏽 . I really² appreciate 😍—Reply to this email directly

[2022-08-26 14:53] thejoelinux commented on #361
Hi,

I was searching for the same thing, as is want to share the public key on a `/key/set' URL; so I have my public_key in a file (for use in a combinaison of symfony/oauth2-server/openid-connect-server).

I don't see how I could declare a JWKSet with no keys, except by giving it one in json format ?

[2022-08-26 20:55] Spomky commented on #361
Hi @thejoelinux,

What about [JWK as a service](https://web-token.spomky-labs.com/the-symfony-bundle/key-and-key-set-management/key-management-jwk#keys-as-services)? With this feature, you will be able to inject your key in a controller and return a `JsonResponse`

[2022-08-27 09:14] thejoelinux commented on #361
That's what i finally did (`public` be the name of the key in the yaml configuration):
[code]

But it would have been practical to directly use the controller from the module.

[2022-09-21 20:32] max10rogerio opened #405 "How to use JWK to verify JWT token?"
### Description

How to use JWK to veirfy JWT token?

I have a string in base64 containing the JWK.

[code]

[2022-09-22 04:14] Spomky commented on #405
Hi,

This is explained in the documentation: https://web-token.spomky-labs.com/the-components/signed-tokens-jws

[2022-09-22 18:57] #405 closed, assigned to nobody

[2022-09-24 02:03] igor-popryadukhin opened #406 "Symfony 6.1 or 6.0"
### Description

Hi
I'm sorry, I do not speak English well.
I think the versions should be equal

I can't install package for Symfony 6.1

![image](https://user-images.githubusercontent.com/48174353/192075251-91f9f773-19d1-43b3-9890-ddedbae1e365.png)

### Example

_No response_

[2022-09-24 05:31] Spomky commented on #406
Hi,

Can you copy/paste the error in your terminal?
Also, it is not recommended to install the whole framework buk only the components you need i.e. `composer require web-token/jwt-bundle`, and the algorithms or header/claims validators

[2022-09-24 08:05] szepeviktor commented on #398
Dear @stalebot, please let Florent think!

[2022-09-28 08:10] Spomky commented on #406
The dependencies clearly include SF 5.4 or 6.x (see web-token/jwt-framework).
The dependency you highlighted is related to the dev env.
Closing as not related to the package itself, but undoubtedly induced by one of your dependencies.

[2022-09-28 08:10] #406 closed, assigned to nobody

[2022-10-16 02:23] #361 closed, assigned to nobody

[2022-10-20 03:28] CyberMew opened #409 "Encrypted token creation is not valid?"
### Version(s) affected

3.1.2

### Description

I followed the JWE Creation guide and its similar except the algorithms used is A256GCMKW with A256GCM. I’m unable to validate it.

It is able to encrypt and decrypt the payload by itself, but when I tried a variety of other libraries and none can decrypt this library’s JWE, and this library’s JWE can’t decrypt the JWEs made by other libraries. I tr

[2022-10-20 05:23] Spomky commented on #409
Hi,

Thank you for reporting this issue.
Would you mind to add an example. In addition, what are the other libraries you tried.
This library is fully compliant with the specification and it works fine with e.g. [Nimbus JOSE]([Nimbus JOSE+JWT](http://connect2id.com/products/nimbus-jose-jwt)), which is a Java library. But there be a bug somewhere and I need to investigate.

Many thanks.
Regards.

[2022-10-21 16:48] cceconi opened #410 "Fix available ? X25519 with ECDH-ES for jwk encryption use"
### Version(s) affected

2.2.11

### Description

Hi,

I ask the question here, is that [issue](https://github.com/web-token/jwt-framework/issues/356) can be resolve in version 2.2.x too ?

I'm running on PHP 7.4 and stuck with that since the recommandation is to use X25519 with ECDH-ES for encryption.

Thank you

### How to reproduce

[code]
This will raise an exception: Unable to load and decryp

[2022-11-23 00:21] #409 closed, assigned to nobody

[2022-11-28 12:54] faizan-shk opened #411 "Return value must be of type AESKW\Wrapper, AESKW\A128KW returned"
### Version(s) affected

3.x

### Description

 **TypeError: Jose\Component\Encryption\Algorithm\KeyEncryption\A128KW::getWrapper(): Return value must be of type AESKW\Wrapper, AESKW\A128KW returned**

Previously we were working with jwt 2.x and everything was working fine however we were using **Jose\Easy** component in our codebase.

Now after upgrading to jwt 3.x we have also done changes w.r.t

[2022-11-28 12:55] faizan-shk commented on #411
@Spomky can you please check the above issue on priority as we are blocked for our release!

[2022-11-28 13:29] faizan-shk commented on #411
Maybe fixed by https://github.com/web-token/jwt-framework/pull/412

[2022-11-28 13:54] Spomky commented on #411
The `AxxxKW` classes implement `Wrapper` interface e.g. https://github.com/Spomky-Labs/aes-key-wrap/blob/v7.0.0/src/A256KW.php#L7
I do not see any reason for this to fail. Can you make sure the `web-token/jwt-encryption-algorithm-aeskw` package is installed?

[2022-11-29 07:59] faizan-shk commented on #411
Yes @Spomky the web-token/jwt-encryption-algorithm-aeskw is installed however I guess were some commits behind for spomky/aes-key-wrap once we updated it the issue was resolved!